In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

# visulaisation
from matplotlib.pyplot import xticks
%matplotlib inline

In [2]:
credit_card_balance = pd.DataFrame(pd.read_csv('C:/Users/kalin/credit_card_balance.csv'))
credit_card_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [3]:
prof = ProfileReport(credit_card_balance)
prof.to_file(output_file='credit_card_balance.html')

Summarize dataset:   0%|          | 0/36 [00:00<?, ?it/s]

C:\Users\kalin\anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# traitement des données manquantes

In [4]:
# pourcentage de données manquantes de chaque variables :
count = credit_card_balance.isnull().sum().sort_values(ascending=False)
percentage = ((credit_card_balance.isnull().sum()/len(credit_card_balance)*100)).sort_values(ascending=False)
missing_application = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing_application

Count and percentage of missing values s:

                             Count  Percentage
AMT_PAYMENT_CURRENT         767988   19.998063
AMT_DRAWINGS_ATM_CURRENT    749816   19.524872
CNT_DRAWINGS_POS_CURRENT    749816   19.524872
AMT_DRAWINGS_OTHER_CURRENT  749816   19.524872
AMT_DRAWINGS_POS_CURRENT    749816   19.524872
CNT_DRAWINGS_OTHER_CURRENT  749816   19.524872
CNT_DRAWINGS_ATM_CURRENT    749816   19.524872
CNT_INSTALMENT_MATURE_CUM   305236    7.948208
AMT_INST_MIN_REGULARITY     305236    7.948208
SK_ID_PREV                       0    0.000000
AMT_TOTAL_RECEIVABLE             0    0.000000
SK_DPD                           0    0.000000
NAME_CONTRACT_STATUS             0    0.000000
CNT_DRAWINGS_CURRENT             0    0.000000
AMT_PAYMENT_TOTAL_CURRENT        0    0.000000
AMT_RECIVABLE                    0    0.000000
AMT_RECEIVABLE_PRINCIPAL         0    0.000000
SK_ID_CURR                       0    0.000000
AMT_DRAWINGS_CURRENT             0    0.000000
AMT_CREDIT_LIMIT_ACTUAL          0    0.000000
AMT_BALANCE                      0    0.000000
MONTHS_BALANCE                   0    0.000000
SK_DPD_DEF                       0    0.000000

In [5]:
#variables aynat des données manquantes < 50% dans la nouvelle table application_test_ssDM

credit_card_balance.columns[credit_card_balance.isnull().any()]

Index(['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM'],
      dtype='object')

In [6]:
# Remplacer en utilisant la médiane

def DM_mediane (data, var):
    median = data[var].median()
    data[var].fillna(median, inplace=True)

In [9]:
DM_mediane(credit_card_balance, 'AMT_DRAWINGS_ATM_CURRENT')
DM_mediane(credit_card_balance, 'AMT_DRAWINGS_OTHER_CURRENT')
DM_mediane(credit_card_balance, 'AMT_DRAWINGS_POS_CURRENT')
DM_mediane(credit_card_balance, 'AMT_INST_MIN_REGULARITY')
DM_mediane(credit_card_balance, 'AMT_PAYMENT_CURRENT')
DM_mediane(credit_card_balance, 'CNT_DRAWINGS_ATM_CURRENT')
DM_mediane(credit_card_balance, 'CNT_DRAWINGS_OTHER_CURRENT')
DM_mediane(credit_card_balance, 'CNT_DRAWINGS_POS_CURRENT')
DM_mediane(credit_card_balance, 'CNT_INSTALMENT_MATURE_CUM')

In [11]:
credit_card_balance.columns[credit_card_balance.isnull().any()]

Index([], dtype='object')

In [12]:
#pandas profiling 

prof = ProfileReport(credit_card_balance)
prof.to_file(output_file='rapport_credit_card_balance.html')

Summarize dataset:   0%|          | 0/36 [00:00<?, ?it/s]

C:\Users\kalin\anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Transformation des données quantitatives

In [13]:
credit_card_balance.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [14]:
# Log transformation 

to_log = ['MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM','SK_DPD',
       'SK_DPD_DEF']
credit_card_balance_log = credit_card_balance[to_log].applymap(lambda x: np.log(x+1))
credit_card_balance_log

<ipython-input-14-3328abd86278>:13: RuntimeWarning: invalid value encountered in log
  credit_card_balance_log = credit_card_balance[to_log].applymap(lambda x: np.log(x+1))
<ipython-input-14-3328abd86278>:13: RuntimeWarning: divide by zero encountered in log
  credit_card_balance_log = credit_card_balance[to_log].applymap(lambda x: np.log(x+1))

,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
0,NaN,4.059926,11.813037,0.000000,6.778216,0.0,6.778216,7.439163,7.496097,7.496097,0.000000,0.000000,0.000000,0.000000,0.693147,0.0,0.693147,3.583519,0.0,0.0
1,-inf,11.066272,10.714440,7.719130,7.719130,0.0,0.000000,7.719130,7.719130,7.719130,11.005030,11.080242,11.080242,0.693147,0.693147,0.0,0.000000,4.248495,0.0,0.0
2,NaN,10.367732,13.017005,0.000000,0.000000,0.0,0.000000,7.719130,7.719130,7.719130,10.200901,10.356507,10.356507,0.000000,0.000000,0.0,0.000000,3.433987,0.0,0.0
3,NaN,12.374013,12.323860,7.719130,7.719130,0.0,0.000000,9.375580,9.386476,9.386476,12.323635,12.359008,12.359008,0.693147,0.693147,0.0,0.000000,2.397895,0.0,0.0
4,-inf,13.025677,13.017005,0.000000,9.354268,0.0,9.354268,10.040022,10.203629,10.203629,13.001428,13.025677,13.025677,0.000000,0.693147,0.0,0.693147,4.624973,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,NaN,0.000000,10.714440,0.000000,0.000000,0.0,0.000000,0.000000,7.902376,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0
3840308,NaN,0.000000,10.714440,0.000000,0.000000,0.0,0.000000,0.000000,7.539086,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.178054,0.0,0.0
3840309,NaN,12.527380,13.279369,12.506181,12.506181,0.0,0.000000,7.719130,12.836682,12.785479,12.503793,12.517575,12.517575,1.098612,1.098612,0.0,0.000000,2.944439,0.0,0.0
3840310,NaN,0.000000,13.017005,0.000000,0.000000,0.0,0.000000,0.000000,7.902376,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0
3840311,NaN,0.000000,11.967187,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.091042,0.0,0.0

In [15]:
#suppression des  variables à transformer dans la table credit_card_balance
credit_card_balance_ssDM = credit_card_balance.drop(to_log, axis=1)
credit_card_balance_ssDM

         SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_STATUS
0           2562384      378907               Active
1           2582071      363914               Active
2           1740877      371185               Active
3           1389973      337855               Active
4           1891521      126868               Active
...             ...         ...                  ...
3840307     1036507      328243               Active
3840308     1714892      347207               Active
3840309     1302323      215757               Active
3840310     1624872      430337               Active
3840311     2411345      236760            Completed

[3840312 rows x 3 columns]

In [16]:
#ajout des varaibales transformées dans la table application_train_ssDM 
credit_card_balance_ssDM2 = pd.concat([credit_card_balance_ssDM, credit_card_balance_log], axis=1)
credit_card_balance_ssDM2

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_STATUS,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
0,2562384,378907,Active,NaN,4.059926,11.813037,0.000000,6.778216,0.0,6.778216,...,0.000000,0.000000,0.000000,0.000000,0.693147,0.0,0.693147,3.583519,0.0,0.0
1,2582071,363914,Active,-inf,11.066272,10.714440,7.719130,7.719130,0.0,0.000000,...,11.005030,11.080242,11.080242,0.693147,0.693147,0.0,0.000000,4.248495,0.0,0.0
2,1740877,371185,Active,NaN,10.367732,13.017005,0.000000,0.000000,0.0,0.000000,...,10.200901,10.356507,10.356507,0.000000,0.000000,0.0,0.000000,3.433987,0.0,0.0
3,1389973,337855,Active,NaN,12.374013,12.323860,7.719130,7.719130,0.0,0.000000,...,12.323635,12.359008,12.359008,0.693147,0.693147,0.0,0.000000,2.397895,0.0,0.0
4,1891521,126868,Active,-inf,13.025677,13.017005,0.000000,9.354268,0.0,9.354268,...,13.001428,13.025677,13.025677,0.000000,0.693147,0.0,0.693147,4.624973,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,Active,NaN,0.000000,10.714440,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0
3840308,1714892,347207,Active,NaN,0.000000,10.714440,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.178054,0.0,0.0
3840309,1302323,215757,Active,NaN,12.527380,13.279369,12.506181,12.506181,0.0,0.000000,...,12.503793,12.517575,12.517575,1.098612,1.098612,0.0,0.000000,2.944439,0.0,0.0
3840310,1624872,430337,Active,NaN,0.000000,13.017005,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0
3840311,2411345,236760,Completed,NaN,0.000000,11.967187,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.091042,0.0,0.0

In [17]:
credit_card_balance_ssDM2.columns[credit_card_balance_ssDM2.isnull().any()]

Index(['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE',
       'AMT_TOTAL_RECEIVABLE'],
      dtype='object')

In [18]:
#pandas profiling 

prof = ProfileReport(credit_card_balance_ssDM2)
prof.to_file(output_file='rapport_credit_card_balance_ssDM2.html')

Summarize dataset:   0%|          | 0/36 [00:00<?, ?it/s]

C:\Users\kalin\anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Données abérrantes

In [ ]:
#pas de données abérrantes

# Fichier CSV

In [19]:
credit_card_balance_ssDM2.to_csv('C:/Users/kalin/credit_card_balance_prepared.csv')

# Preprocess credit_card_balance.csv

In [3]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category) # dummy_na =Add a column to indicate NaNs, if False NaNs are ignored
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

In [4]:
def credit_card_balance(num_rows = None, nan_as_category = True):
    cc = pd.read_csv('C:/Users/kalin/credit_card_balance_prepared.csv', nrows = num_rows)
    cc, cat_cols = one_hot_encoder(cc, nan_as_category= True)
   
    # General aggregations
    cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
    cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
    cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
    
    # Count credit card lines
    cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
    del cc
    
    return cc_agg

In [5]:
credit_card_balance_FE = credit_card_balance(num_rows = None, nan_as_category = True)
credit_card_balance_FE

,CC_Unnamed: 0_MIN,CC_Unnamed: 0_MAX,CC_Unnamed: 0_MEAN,CC_Unnamed: 0_SUM,CC_Unnamed: 0_VAR,CC_MONTHS_BALANCE_MIN,CC_MONTHS_BALANCE_MAX,CC_MONTHS_BALANCE_MEAN,CC_MONTHS_BALANCE_SUM,CC_MONTHS_BALANCE_VAR,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100006,520387,1636141,1.024054e+06,6144321,2.405894e+11,-inf,-inf,-inf,-inf,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,6
100011,35799,3805973,2.042706e+06,151160233,1.339524e+12,NaN,NaN,NaN,0.0,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,74
100013,14753,3755953,2.030250e+06,194903974,1.246050e+12,-inf,-inf,-inf,-inf,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,96
100021,538219,3702428,1.936879e+06,32926945,8.462009e+11,NaN,NaN,NaN,0.0,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,17
100023,778090,3601269,1.986135e+06,15889081,7.974074e+11,NaN,NaN,NaN,0.0,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456244,76410,3824090,1.583824e+06,64936790,1.420766e+12,-inf,-inf,-inf,-inf,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,41
456246,117630,3123404,1.962023e+06,15696183,1.457207e+12,NaN,NaN,NaN,0.0,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,8
456247,8057,3838598,1.927978e+06,183157925,1.351329e+12,NaN,NaN,NaN,0.0,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,95
456248,62806,3740421,1.397847e+06,32150472,1.161997e+12,NaN,NaN,NaN,0.0,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,23
456250,140639,3734047,1.815738e+06,21788850,1.639543e+12,-inf,-inf,-inf,-inf,NaN,...,0,0.0,0,0.0,0,0,0,0,0.0,12

# Fichier CSV

In [6]:
credit_card_balance_FE.to_csv('C:/Users/kalin/credit_card_balance_FE.csv')