In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# données manquantes pour la table train

In [2]:
df_train_FE= pd.DataFrame(pd.read_csv('C:/Users/kalin/df_train_FE.csv'))

In [3]:
df_train_FE

,Unnamed: 0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,0,100002,1,0,0,0,-9461,-637,-3648.0,-2120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0,1,0,1,-16765,-1188,-1186.0,-291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0,0,1,0,-19046,-225,-4260.0,-2531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0,1,0,0,-19005,-3039,-9833.0,-2437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
4,4,100007,0,0,0,0,-19932,-3038,-4311.0,-3458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252128,456248,0,1,0,0,-16705,-7258,-9798.0,-259,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0
252129,252129,456251,0,0,0,1,-9327,-236,-8456.0,-1982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252130,252130,456253,0,1,0,0,-14966,-7921,-6737.0,-5150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252131,252131,456254,1,1,0,0,-11961,-4786,-2562.0,-931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252132,252132,456255,0,1,0,1,-16856,-1262,-5128.0,-410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# pourcentage de données manquantes de chaque variables :

count = df_train_FE.isnull().sum().sort_values(ascending=False)
percentage = ((df_train_FE.isnull().sum()/len(df_train_FE)*100)).sort_values(ascending=False)
missing_df_train_FE = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing_df_train_FE

Count and percentage of missing values s:

                                      Count  Percentage
CC_MONTHS_BALANCE_VAR                252133  100.000000
REFUSED_APP_CREDIT_PERC_VAR          211607   83.926737
CC_MONTHS_BALANCE_MIN                207906   82.458861
CC_MONTHS_BALANCE_MAX                207906   82.458861
CC_MONTHS_BALANCE_MEAN               207906   82.458861
...                                     ...         ...
WEEKDAY_APPR_PROCESS_START_THURSDAY       0    0.000000
WEEKDAY_APPR_PROCESS_START_SUNDAY         0    0.000000
WEEKDAY_APPR_PROCESS_START_SATURDAY       0    0.000000
WEEKDAY_APPR_PROCESS_START_MONDAY         0    0.000000
Unnamed: 0                                0    0.000000

[727 rows x 2 columns]

pas plus de 70% de données manquantes par ligne , on n'enlève pas de ligne car le seuil est à 90%

In [5]:
DM_ligne = pd.DataFrame(df_train_FE.isnull().sum(axis=1))
DM_ligne

          0
0       172
1       189
2       211
3       109
4       211
...     ...
252128  135
252129  279
252130  170
252131  405
252132  146

[252133 rows x 1 columns]

In [6]:
DM_ligne_inf90 = DM_ligne[DM_ligne[0]<581]
DM_ligne_inf90

          0
0       172
1       189
2       211
3       109
4       211
...     ...
252128  135
252129  279
252130  170
252131  405
252132  146

[252133 rows x 1 columns]

In [7]:
# On garde les variables avec moins de 10% de DM
# variables ayant moins de 10% de DM

missing_final_sup10=missing_df_train_FE[ missing_df_train_FE['Percentage'] >10]
missing_final_sup10

                              Count  Percentage
CC_MONTHS_BALANCE_VAR        252133  100.000000
REFUSED_APP_CREDIT_PERC_VAR  211607   83.926737
CC_MONTHS_BALANCE_MIN        207906   82.458861
CC_MONTHS_BALANCE_MAX        207906   82.458861
CC_MONTHS_BALANCE_MEAN       207906   82.458861
...                             ...         ...
APPROVED_AMT_ANNUITY_MAX      32351   12.830927
APPROVED_AMT_ANNUITY_MIN      32351   12.830927
PREV_APP_CREDIT_PERC_MEAN     27949   11.085023
PREV_APP_CREDIT_PERC_MIN      27949   11.085023
PREV_APP_CREDIT_PERC_MAX      27949   11.085023

[305 rows x 2 columns]

In [8]:
# supression des variables qui ont plus de 10% de données manquantes 

missing_final_inf10 = df_train_FE.drop(columns=missing_final_sup10.index.tolist())
missing_final_inf10

,Unnamed: 0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
0,0,100002,1,0,0,0,-9461,-637,-3648.0,-2120,...,11559.247105,219625.695,9251.775,53093.745,11559.247105,219625.695,-49.0,-315.421053,-5993.0,19.0
1,1,100003,0,1,0,1,-16765,-1188,-1186.0,-291,...,64754.586000,1618864.650,6662.970,560835.360,64754.586000,1618864.650,-544.0,-1385.320000,-34633.0,25.0
2,2,100004,0,0,1,0,-19046,-225,-4260.0,-2531,...,7096.155000,21288.465,5357.250,10573.965,7096.155000,21288.465,-727.0,-761.666667,-2285.0,3.0
3,3,100006,0,1,0,0,-19005,-3039,-9833.0,-2437,...,62947.088438,1007153.415,2482.920,691786.890,62947.088438,1007153.415,-12.0,-271.625000,-4346.0,16.0
4,4,100007,0,0,0,0,-19932,-3038,-4311.0,-3458,...,12666.444545,835985.340,0.180,22678.785,12214.060227,806127.975,-14.0,-1032.242424,-68128.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252128,456248,0,1,0,0,-16705,-7258,-9798.0,-259,...,44619.088696,2052478.080,26.640,67725.495,43887.146087,2018808.720,-28.0,-996.891304,-45857.0,46.0
252129,252129,456251,0,0,0,1,-9327,-236,-8456.0,-1982,...,7492.924286,52450.470,6605.910,12815.010,7492.924286,52450.470,-38.0,-156.285714,-1094.0,7.0
252130,252130,456253,0,1,0,0,-14966,-7921,-6737.0,-5150,...,4399.707857,61595.910,27.270,5575.185,4115.915357,57622.815,-1738.0,-2387.428571,-33424.0,14.0
252131,252131,456254,1,1,0,0,-11961,-4786,-2562.0,-931,...,10239.832895,194556.825,2296.440,19065.825,10239.832895,194556.825,-18.0,-161.263158,-3064.0,19.0
252132,252132,456255,0,1,0,1,-16856,-1262,-5128.0,-410,...,41464.713649,3068388.810,34.965,669251.655,47646.215878,3525819.975,-76.0,-472.013514,-34929.0,74.0

In [9]:
count = missing_final_inf10.isnull().sum().sort_values(ascending=False)
percentage = ((missing_final_inf10.isnull().sum()/len(missing_final_inf10)*100)).sort_values(ascending=False)
missing_final_inf10_2 = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing_final_inf10_2

Count and percentage of missing values s:

                                               Count  Percentage
PREV_HOUR_APPR_PROCESS_START_MEAN              24162    9.583038
PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN  24162    9.583038
PREV_NAME_TYPE_SUITE_Family_MEAN               24162    9.583038
PREV_NAME_TYPE_SUITE_Children_MEAN             24162    9.583038
PREV_CODE_REJECT_REASON_nan_MEAN               24162    9.583038
...                                              ...         ...
WEEKDAY_APPR_PROCESS_START_THURSDAY                0    0.000000
WEEKDAY_APPR_PROCESS_START_SUNDAY                  0    0.000000
WEEKDAY_APPR_PROCESS_START_SATURDAY                0    0.000000
WEEKDAY_APPR_PROCESS_START_MONDAY                  0    0.000000
Unnamed: 0                                         0    0.000000

[422 rows x 2 columns]

In [10]:
#Table avec variables avec DM <10%

missing_final_inf10_sup0 =missing_final_inf10_2[ missing_final_inf10_2['Percentage'] >1]
missing_final_inf10_sup0

                                               Count  Percentage
PREV_HOUR_APPR_PROCESS_START_MEAN              24162    9.583038
PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN  24162    9.583038
PREV_NAME_TYPE_SUITE_Family_MEAN               24162    9.583038
PREV_NAME_TYPE_SUITE_Children_MEAN             24162    9.583038
PREV_CODE_REJECT_REASON_nan_MEAN               24162    9.583038
...                                              ...         ...
INSTAL_DPD_MEAN                                13301    5.275390
INSTAL_DPD_MAX                                 13301    5.275390
INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE          13301    5.275390
INSTAL_PAYMENT_PERC_SUM                        13301    5.275390
INSTAL_COUNT                                   13301    5.275390

[225 rows x 2 columns]

In [11]:
# en supprime les variables avec les DM<10% avant de les remplacée par les données imputées 

df_train_FE_ssDM= missing_final_inf10.drop(columns=missing_final_inf10_sup0.index.tolist())
df_train_FE_ssDM

,Unnamed: 0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,EMERGENCYSTATE_MODE_Missing,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE
0,0,100002,1,0,0,0,-9461,-637,-3648.0,-2120,...,0,0,0,1,0,0.067329,0.946028,17.627570,0.827812,0.783133
1,1,100003,0,1,0,1,-16765,-1188,-1186.0,-291,...,0,0,0,1,0,0.070862,0.888673,11.383616,0.838217,0.744901
2,2,100004,0,0,1,0,-19046,-225,-4260.0,-2531,...,0,0,1,0,0,0.011814,0.941324,16.042621,0.792943,0.746416
3,3,100006,0,1,0,0,-19005,-3039,-9833.0,-2437,...,0,0,1,0,0,0.159905,0.933619,10.752690,0.871789,0.813920
4,4,100007,0,0,0,0,-19932,-3038,-4311.0,-3458,...,0,0,1,0,0,0.152418,0.890451,16.890609,0.853518,0.760016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252128,456248,0,1,0,0,-16705,-7258,-9798.0,-259,...,0,0,1,0,0,0.434481,0.939080,17.223182,0.811380,0.761951
252129,252129,456251,0,0,0,1,-9327,-236,-8456.0,-1982,...,0,0,0,1,0,0.025303,0.961386,17.265001,0.854343,0.821354
252130,252130,456253,0,1,0,0,-14966,-7921,-6737.0,-5150,...,0,0,0,1,0,0.529266,0.889158,17.223182,0.863471,0.767762
252131,252131,456254,1,1,0,0,-11961,-4786,-2562.0,-931,...,0,0,0,1,0,0.400134,0.939779,10.967859,0.822756,0.773209
252132,252132,456255,0,1,0,1,-16856,-1262,-5128.0,-410,...,0,0,0,1,0,0.074869,0.891579,10.893003,0.902634,0.804769

In [12]:
missing_final_inf10.to_csv('C:/Users/kalin/missing_final_inf10.csv')

In [13]:
# Table avec variables ayant DM<10%

train_FE_DM_inf10 = df_train_FE[['SK_ID_CURR'
,'INSTAL_AMT_INSTALMENT_MAX'
,'INSTAL_AMT_INSTALMENT_MEAN'
,'INSTAL_AMT_INSTALMENT_SUM'
,'INSTAL_AMT_PAYMENT_MAX'
,'INSTAL_AMT_PAYMENT_MEAN'
,'INSTAL_AMT_PAYMENT_MIN'
,'INSTAL_AMT_PAYMENT_SUM'
,'INSTAL_COUNT'
,'INSTAL_DAYS_ENTRY_PAYMENT_MAX'
,'INSTAL_DAYS_ENTRY_PAYMENT_MEAN'
,'INSTAL_DAYS_ENTRY_PAYMENT_SUM'
,'INSTAL_DBD_MAX'
,'INSTAL_DBD_MEAN'
,'INSTAL_DBD_SUM'
,'INSTAL_DPD_MAX'
,'INSTAL_DPD_MEAN'
,'INSTAL_DPD_SUM'
,'INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE'
,'INSTAL_PAYMENT_DIFF_MAX'
,'INSTAL_PAYMENT_DIFF_MEAN'
,'INSTAL_PAYMENT_DIFF_SUM'
,'INSTAL_PAYMENT_DIFF_VAR'
,'INSTAL_PAYMENT_PERC_MAX'
,'INSTAL_PAYMENT_PERC_MEAN'
,'INSTAL_PAYMENT_PERC_SUM'
,'INSTAL_PAYMENT_PERC_VAR'
,'POS_COUNT'
,'POS_MONTHS_BALANCE_MAX'
,'POS_MONTHS_BALANCE_MEAN'
,'POS_MONTHS_BALANCE_SIZE'
,'POS_NAME_CONTRACT_STATUS_Active_MEAN'
,'POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN'
,'POS_NAME_CONTRACT_STATUS_Approved_MEAN'
,'POS_NAME_CONTRACT_STATUS_Canceled_MEAN'
,'POS_NAME_CONTRACT_STATUS_Completed_MEAN'
,'POS_NAME_CONTRACT_STATUS_Demand_MEAN'
,'POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN'
,'POS_NAME_CONTRACT_STATUS_Signed_MEAN'
,'POS_NAME_CONTRACT_STATUS_XNA_MEAN'
,'POS_NAME_CONTRACT_STATUS_nan_MEAN'
,'POS_SK_DPD_DEF_MAX'
,'POS_SK_DPD_DEF_MEAN'
,'POS_SK_DPD_MAX'
,'POS_SK_DPD_MEAN'
,'PREV_AMT_ANNUITY_MAX'
,'PREV_AMT_ANNUITY_MEAN'
,'PREV_AMT_ANNUITY_MIN'
,'PREV_AMT_APPLICATION_MAX'
,'PREV_AMT_APPLICATION_MEAN'
,'PREV_AMT_APPLICATION_MIN'
,'PREV_AMT_CREDIT_MAX'
,'PREV_AMT_CREDIT_MEAN'
,'PREV_AMT_CREDIT_MIN'
,'PREV_AMT_GOODS_PRICE_MAX'
,'PREV_AMT_GOODS_PRICE_MEAN'
,'PREV_AMT_GOODS_PRICE_MIN'
,'PREV_CHANNEL_TYPE_AP+ (Cash loan)_MEAN'
,'PREV_CHANNEL_TYPE_Car dealer_MEAN'
,'PREV_CHANNEL_TYPE_Channel of corporate sales_MEAN'
,'PREV_CHANNEL_TYPE_Contact center_MEAN'
,'PREV_CHANNEL_TYPE_Country-wide_MEAN'
,'PREV_CHANNEL_TYPE_Credit and cash offices_MEAN'
,'PREV_CHANNEL_TYPE_Regional / Local_MEAN'
,'PREV_CHANNEL_TYPE_Stone_MEAN'
,'PREV_CHANNEL_TYPE_nan_MEAN'
,'PREV_CNT_PAYMENT_MEAN'
,'PREV_CNT_PAYMENT_SUM'
,'PREV_CODE_REJECT_REASON_CLIENT_MEAN'
,'PREV_CODE_REJECT_REASON_HC_MEAN'
,'PREV_CODE_REJECT_REASON_LIMIT_MEAN'
,'PREV_CODE_REJECT_REASON_SCOFR_MEAN'
,'PREV_CODE_REJECT_REASON_SCO_MEAN'
,'PREV_CODE_REJECT_REASON_SYSTEM_MEAN'
,'PREV_CODE_REJECT_REASON_VERIF_MEAN'
,'PREV_CODE_REJECT_REASON_XAP_MEAN'
,'PREV_CODE_REJECT_REASON_XNA_MEAN'
,'PREV_CODE_REJECT_REASON_nan_MEAN'
,'PREV_DAYS_DECISION_MAX'
,'PREV_DAYS_DECISION_MEAN'
,'PREV_DAYS_DECISION_MIN'
,'PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN'
,'PREV_FLAG_LAST_APPL_PER_CONTRACT_Y_MEAN'
,'PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN'
,'PREV_HOUR_APPR_PROCESS_START_MAX'
,'PREV_HOUR_APPR_PROCESS_START_MEAN'
,'PREV_HOUR_APPR_PROCESS_START_MIN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Building a house or an annex_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Business development_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a garage_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a home_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a new car_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a used car_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Car repairs_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Education_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Everyday expenses_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Furniture_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Gasification / water supply_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Journey_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Medicine_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Money for a third person_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Other_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Payments on other loans_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Refusal to name the goal_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Repairs_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Urgent needs_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_nan_MEAN'
,'PREV_NAME_CLIENT_TYPE_New_MEAN'
,'PREV_NAME_CLIENT_TYPE_Refreshed_MEAN'
,'PREV_NAME_CLIENT_TYPE_Repeater_MEAN'
,'PREV_NAME_CLIENT_TYPE_XNA_MEAN'
,'PREV_NAME_CLIENT_TYPE_nan_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Approved_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Canceled_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Refused_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Unused offer_MEAN'
,'PREV_NAME_CONTRACT_STATUS_nan_MEAN'
,'PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN'
,'PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN'
,'PREV_NAME_CONTRACT_TYPE_Revolving loans_MEAN'
,'PREV_NAME_CONTRACT_TYPE_XNA_MEAN'
,'PREV_NAME_CONTRACT_TYPE_nan_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Additional Service_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Animals_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Audio/Video_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Auto Accessories_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Clothing and Accessories_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Computers_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Construction Materials_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Consumer Electronics_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Direct Sales_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Education_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Fitness_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Furniture_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Gardening_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Homewares_MEAN'
,'PREV_NAME_GOODS_CATEGORY_House Construction_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Insurance_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Jewelry_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Medical Supplies_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Medicine_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Mobile_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Office Appliances_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Other_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Photo / Cinema Equipment_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Sport and Leisure_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Tourism_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Vehicles_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Weapon_MEAN'
,'PREV_NAME_GOODS_CATEGORY_XNA_MEAN'
,'PREV_NAME_GOODS_CATEGORY_nan_MEAN'
,'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN'
,'PREV_NAME_PAYMENT_TYPE_Cashless from the account of the employer_MEAN'
,'PREV_NAME_PAYMENT_TYPE_Non-cash from your account_MEAN'
,'PREV_NAME_PAYMENT_TYPE_XNA_MEAN'
,'PREV_NAME_PAYMENT_TYPE_nan_MEAN'
,'PREV_NAME_PORTFOLIO_Cards_MEAN'
,'PREV_NAME_PORTFOLIO_Cars_MEAN'
,'PREV_NAME_PORTFOLIO_Cash_MEAN'
,'PREV_NAME_PORTFOLIO_POS_MEAN'
,'PREV_NAME_PORTFOLIO_XNA_MEAN'
,'PREV_NAME_PORTFOLIO_nan_MEAN'
,'PREV_NAME_PRODUCT_TYPE_XNA_MEAN'
,'PREV_NAME_PRODUCT_TYPE_nan_MEAN'
,'PREV_NAME_PRODUCT_TYPE_walk-in_MEAN'
,'PREV_NAME_PRODUCT_TYPE_x-sell_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Auto technology_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Construction_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Consumer electronics_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Industry_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Jewelry_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_MLM partners_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Tourism_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_XNA_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_nan_MEAN'
,'PREV_NAME_TYPE_SUITE_Children_MEAN'
,'PREV_NAME_TYPE_SUITE_Family_MEAN'
,'PREV_NAME_TYPE_SUITE_Group of people_MEAN'
,'PREV_NAME_TYPE_SUITE_Missing_MEAN'
,'PREV_NAME_TYPE_SUITE_Other_A_MEAN'
,'PREV_NAME_TYPE_SUITE_Other_B_MEAN'
,'PREV_NAME_TYPE_SUITE_Spouse, partner_MEAN'
,'PREV_NAME_TYPE_SUITE_Unaccompanied_MEAN'
,'PREV_NAME_TYPE_SUITE_nan_MEAN'
,'PREV_NAME_YIELD_GROUP_XNA_MEAN'
,'PREV_NAME_YIELD_GROUP_high_MEAN'
,'PREV_NAME_YIELD_GROUP_low_action_MEAN'
,'PREV_NAME_YIELD_GROUP_low_normal_MEAN'
,'PREV_NAME_YIELD_GROUP_middle_MEAN'
,'PREV_NAME_YIELD_GROUP_nan_MEAN'
,'PREV_PRODUCT_COMBINATION_Card Street_MEAN'
,'PREV_PRODUCT_COMBINATION_Card X-Sell_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash Street: high_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash Street: low_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash Street: middle_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash X-Sell: low_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash_MEAN'
,'PREV_PRODUCT_COMBINATION_Missing_MEAN'
,'PREV_PRODUCT_COMBINATION_POS household with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS household without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS other with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS others without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_nan_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN'
]]

In [14]:
train_FE_DM_inf10

,SK_ID_CURR,INSTAL_AMT_INSTALMENT_MAX,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_SUM,INSTAL_COUNT,INSTAL_DAYS_ENTRY_PAYMENT_MAX,...,PREV_PRODUCT_COMBINATION_POS others without interest_MEAN,PREV_PRODUCT_COMBINATION_nan_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN
0,100002,53093.745,11559.247105,219625.695,53093.745,11559.247105,9251.775,219625.695,19.0,-49.0,...,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
1,100003,560835.360,64754.586000,1618864.650,560835.360,64754.586000,6662.970,1618864.650,25.0,-544.0,...,0.0,0.0,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.0,0.0
2,100004,10573.965,7096.155000,21288.465,10573.965,7096.155000,5357.250,21288.465,3.0,-727.0,...,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,100006,691786.890,62947.088438,1007153.415,691786.890,62947.088438,2482.920,1007153.415,16.0,-12.0,...,0.0,0.0,0.000000,0.000000,0.142857,0.000000,0.714286,0.142857,0.0,0.0
4,100007,22678.785,12666.444545,835985.340,22678.785,12214.060227,0.180,806127.975,66.0,-14.0,...,0.0,0.0,0.200000,0.000000,0.200000,0.400000,0.200000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,456248,67725.495,44619.088696,2052478.080,67725.495,43887.146087,26.640,2018808.720,46.0,-28.0,...,0.0,0.0,0.333333,0.333333,0.000000,0.000000,0.333333,0.000000,0.0,0.0
252129,456251,12815.010,7492.924286,52450.470,12815.010,7492.924286,6605.910,52450.470,7.0,-38.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0
252130,456253,5575.185,4399.707857,61595.910,5575.185,4115.915357,27.270,57622.815,14.0,-1738.0,...,0.0,0.0,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.0,0.0
252131,456254,19065.825,10239.832895,194556.825,19065.825,10239.832895,2296.440,194556.825,19.0,-18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252132,456255,615229.515,41464.713649,3068388.810,669251.655,47646.215878,34.965,3525819.975,74.0,-76.0,...,0.0,0.0,0.375000,0.000000,0.000000,0.250000,0.250000,0.125000,0.0,0.0

In [15]:
# Remplacer DM en utilisant la médiane

def DM_mediane (data, var):
    median = data[var].median()
    data[var].fillna(median, inplace=True)

In [16]:
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_INSTALMENT_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_INSTALMENT_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_INSTALMENT_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_PAYMENT_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_PAYMENT_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_PAYMENT_MIN')
DM_mediane(train_FE_DM_inf10,'INSTAL_AMT_PAYMENT_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_COUNT')
DM_mediane(train_FE_DM_inf10,'INSTAL_DAYS_ENTRY_PAYMENT_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_DAYS_ENTRY_PAYMENT_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_DAYS_ENTRY_PAYMENT_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_DBD_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_DBD_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_DBD_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_DPD_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_DPD_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_DPD_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_DIFF_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_DIFF_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_DIFF_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_DIFF_VAR')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_PERC_MAX')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_PERC_MEAN')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_PERC_SUM')
DM_mediane(train_FE_DM_inf10,'INSTAL_PAYMENT_PERC_VAR')
DM_mediane(train_FE_DM_inf10,'POS_COUNT')
DM_mediane(train_FE_DM_inf10,'POS_MONTHS_BALANCE_MAX')
DM_mediane(train_FE_DM_inf10,'POS_MONTHS_BALANCE_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_MONTHS_BALANCE_SIZE')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Active_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Approved_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Canceled_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Completed_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Demand_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_Signed_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_NAME_CONTRACT_STATUS_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_SK_DPD_DEF_MAX')
DM_mediane(train_FE_DM_inf10,'POS_SK_DPD_DEF_MEAN')
DM_mediane(train_FE_DM_inf10,'POS_SK_DPD_MAX')
DM_mediane(train_FE_DM_inf10,'POS_SK_DPD_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_ANNUITY_MAX')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_ANNUITY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_ANNUITY_MIN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_APPLICATION_MAX')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_APPLICATION_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_APPLICATION_MIN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_CREDIT_MAX')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_CREDIT_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_CREDIT_MIN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_GOODS_PRICE_MAX')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_GOODS_PRICE_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_AMT_GOODS_PRICE_MIN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_AP+ (Cash loan)_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Car dealer_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Channel of corporate sales_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Contact center_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Country-wide_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Credit and cash offices_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Regional / Local_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_Stone_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CHANNEL_TYPE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CNT_PAYMENT_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CNT_PAYMENT_SUM')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_CLIENT_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_HC_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_LIMIT_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_SCOFR_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_SCO_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_SYSTEM_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_VERIF_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_XAP_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_CODE_REJECT_REASON_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_DAYS_DECISION_MAX')
DM_mediane(train_FE_DM_inf10,'PREV_DAYS_DECISION_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_DAYS_DECISION_MIN')
DM_mediane(train_FE_DM_inf10,'PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_FLAG_LAST_APPL_PER_CONTRACT_Y_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_HOUR_APPR_PROCESS_START_MAX')
DM_mediane(train_FE_DM_inf10,'PREV_HOUR_APPR_PROCESS_START_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_HOUR_APPR_PROCESS_START_MIN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Building a house or an annex_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Business development_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a garage_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a home_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a new car_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a used car_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Car repairs_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Education_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Everyday expenses_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Furniture_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Gasification / water supply_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Journey_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Medicine_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Money for a third person_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Other_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Payments on other loans_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Refusal to name the goal_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Repairs_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Urgent needs_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CASH_LOAN_PURPOSE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CLIENT_TYPE_New_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CLIENT_TYPE_Refreshed_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CLIENT_TYPE_Repeater_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CLIENT_TYPE_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CLIENT_TYPE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_STATUS_Approved_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_STATUS_Canceled_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_STATUS_Refused_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_STATUS_Unused offer_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_STATUS_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_TYPE_Revolving loans_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_TYPE_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_CONTRACT_TYPE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Additional Service_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Animals_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Audio/Video_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Auto Accessories_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Clothing and Accessories_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Computers_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Construction Materials_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Consumer Electronics_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Direct Sales_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Education_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Fitness_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Furniture_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Gardening_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Homewares_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_House Construction_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Insurance_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Jewelry_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Medical Supplies_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Medicine_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Mobile_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Office Appliances_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Other_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Photo / Cinema Equipment_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Sport and Leisure_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Tourism_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Vehicles_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_Weapon_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_GOODS_CATEGORY_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PAYMENT_TYPE_Cashless from the account of the employer_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PAYMENT_TYPE_Non-cash from your account_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PAYMENT_TYPE_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PAYMENT_TYPE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PORTFOLIO_Cards_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PORTFOLIO_Cars_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PORTFOLIO_Cash_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PORTFOLIO_POS_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PORTFOLIO_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PORTFOLIO_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PRODUCT_TYPE_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PRODUCT_TYPE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PRODUCT_TYPE_walk-in_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_PRODUCT_TYPE_x-sell_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Auto technology_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Construction_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Consumer electronics_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Industry_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Jewelry_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_MLM partners_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_Tourism_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_SELLER_INDUSTRY_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Children_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Family_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Group of people_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Missing_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Other_A_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Other_B_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Spouse, partner_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_Unaccompanied_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_TYPE_SUITE_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_YIELD_GROUP_XNA_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_YIELD_GROUP_high_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_YIELD_GROUP_low_action_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_YIELD_GROUP_low_normal_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_YIELD_GROUP_middle_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_NAME_YIELD_GROUP_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Card Street_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Card X-Sell_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash Street: high_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash Street: low_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash Street: middle_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash X-Sell: low_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Cash_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_Missing_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS household with interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS household without interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS other with interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_POS others without interest_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_PRODUCT_COMBINATION_nan_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN')
DM_mediane(train_FE_DM_inf10,'PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN')

C:\Users\kalin\anaconda3\envs\OCR5\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [17]:
# merger avec la table ayant des données imputées pour quand DM<10%

train_FE_ssDM = df_train_FE_ssDM.merge(train_FE_DM_inf10, how='inner', on='SK_ID_CURR')

In [18]:
train_FE_ssDM

,Unnamed: 0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,PREV_PRODUCT_COMBINATION_POS others without interest_MEAN,PREV_PRODUCT_COMBINATION_nan_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN
0,0,100002,1,0,0,0,-9461,-637,-3648.0,-2120,...,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
1,1,100003,0,1,0,1,-16765,-1188,-1186.0,-291,...,0.0,0.0,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.0,0.0
2,2,100004,0,0,1,0,-19046,-225,-4260.0,-2531,...,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,3,100006,0,1,0,0,-19005,-3039,-9833.0,-2437,...,0.0,0.0,0.000000,0.000000,0.142857,0.000000,0.714286,0.142857,0.0,0.0
4,4,100007,0,0,0,0,-19932,-3038,-4311.0,-3458,...,0.0,0.0,0.200000,0.000000,0.200000,0.400000,0.200000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252128,456248,0,1,0,0,-16705,-7258,-9798.0,-259,...,0.0,0.0,0.333333,0.333333,0.000000,0.000000,0.333333,0.000000,0.0,0.0
252129,252129,456251,0,0,0,1,-9327,-236,-8456.0,-1982,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0
252130,252130,456253,0,1,0,0,-14966,-7921,-6737.0,-5150,...,0.0,0.0,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.0,0.0
252131,252131,456254,1,1,0,0,-11961,-4786,-2562.0,-931,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
252132,252132,456255,0,1,0,1,-16856,-1262,-5128.0,-410,...,0.0,0.0,0.375000,0.000000,0.000000,0.250000,0.250000,0.125000,0.0,0.0

In [19]:
count = train_FE_ssDM .isnull().sum().sort_values(ascending=False)
percentage = ((train_FE_ssDM .isnull().sum()/len(train_FE_ssDM )*100)).sort_values(ascending=False)
missing = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing

Count and percentage of missing values s:

                                                    Count  Percentage
Unnamed: 0                                              0         0.0
PREV_CODE_REJECT_REASON_CLIENT_MEAN                     0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Buying a new car_MEAN       0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Buying a home_MEAN          0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday ho...      0         0.0
...                                                   ...         ...
ORGANIZATION_TYPE_Business Entity Type 3                0         0.0
ORGANIZATION_TYPE_Business Entity Type 2                0         0.0
ORGANIZATION_TYPE_Business Entity Type 1                0         0.0
ORGANIZATION_TYPE_Bank                                  0         0.0
PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN                0         0.0

[422 rows x 2 columns]

# fichier CSV table finale train sans données manquantes

In [20]:
train_FE_ssDM.to_csv('C:/Users/kalin/train_FE_ssDM.csv')

In [21]:
train_FE_ssDM

,Unnamed: 0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,PREV_PRODUCT_COMBINATION_POS others without interest_MEAN,PREV_PRODUCT_COMBINATION_nan_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN,PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN
0,0,100002,1,0,0,0,-9461,-637,-3648.0,-2120,...,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
1,1,100003,0,1,0,1,-16765,-1188,-1186.0,-291,...,0.0,0.0,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.0,0.0
2,2,100004,0,0,1,0,-19046,-225,-4260.0,-2531,...,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,3,100006,0,1,0,0,-19005,-3039,-9833.0,-2437,...,0.0,0.0,0.000000,0.000000,0.142857,0.000000,0.714286,0.142857,0.0,0.0
4,4,100007,0,0,0,0,-19932,-3038,-4311.0,-3458,...,0.0,0.0,0.200000,0.000000,0.200000,0.400000,0.200000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252128,456248,0,1,0,0,-16705,-7258,-9798.0,-259,...,0.0,0.0,0.333333,0.333333,0.000000,0.000000,0.333333,0.000000,0.0,0.0
252129,252129,456251,0,0,0,1,-9327,-236,-8456.0,-1982,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0
252130,252130,456253,0,1,0,0,-14966,-7921,-6737.0,-5150,...,0.0,0.0,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.0,0.0
252131,252131,456254,1,1,0,0,-11961,-4786,-2562.0,-931,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
252132,252132,456255,0,1,0,1,-16856,-1262,-5128.0,-410,...,0.0,0.0,0.375000,0.000000,0.000000,0.250000,0.250000,0.125000,0.0,0.0

# DOnnées manquantes pour la table TEST

In [22]:
df_test_FE= pd.DataFrame(pd.read_csv('C:/Users/kalin/df_test_FE.csv'))

In [23]:
df_test_FE

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,0,0,0,100001,0,0,0,-19241,-2329,-5170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,100005,1,0,0,-18064,-4469,-9118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2,100013,1,1,0,-20038,-4458,-2175.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0
3,3,3,3,100028,0,0,0,-13976,-1866,-2000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0
4,4,4,4,100038,1,1,1,-13040,-2191,-4000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,39465,39465,48739,456221,0,0,0,-19970,-5169,-9094.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39466,39466,39466,48740,456222,0,0,1,-11186,-1149,-3015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39467,39467,39467,48741,456223,0,1,0,-15922,-3037,-2681.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39468,39468,39468,48742,456224,1,0,1,-13968,-2731,-1461.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39469,39469,39469,48743,456250,0,1,1,-13962,-633,-1072.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0

In [24]:
# pourcentage de données manquantes de chaque variables :
count = df_test_FE.isnull().sum().sort_values(ascending=False)
percentage = ((df_test_FE.isnull().sum()/len(df_test_FE)*100)).sort_values(ascending=False)
missing_df_test_FE = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing_df_test_FE

Count and percentage of missing values s:

                                     Count  Percentage
CC_MONTHS_BALANCE_VAR                39470  100.000000
REFUSED_APP_CREDIT_PERC_VAR          32295   81.821637
CC_MONTHS_BALANCE_MAX                31335   79.389410
CC_MONTHS_BALANCE_MEAN               31335   79.389410
CC_MONTHS_BALANCE_MIN                31335   79.389410
...                                    ...         ...
WEEKDAY_APPR_PROCESS_START_TUESDAY       0    0.000000
WEEKDAY_APPR_PROCESS_START_THURSDAY      0    0.000000
WEEKDAY_APPR_PROCESS_START_SUNDAY        0    0.000000
WEEKDAY_APPR_PROCESS_START_SATURDAY      0    0.000000
Unnamed: 0                               0    0.000000

[725 rows x 2 columns]

In [25]:
#DM par ligne 
DM_ligne = pd.DataFrame(df_test_FE.isnull().sum(axis=1))
DM_ligne

         0
0      172
1      173
2       49
3       25
4      278
...    ...
39465  172
39466  277
39467  173
39468  147
39469    3

[39470 rows x 1 columns]

In [26]:
DM_ligne_inf90 = DM_ligne[DM_ligne[0]<581]
DM_ligne_inf90

         0
0      172
1      173
2       49
3       25
4      278
...    ...
39465  172
39466  277
39467  173
39468  147
39469    3

[39470 rows x 1 columns]

In [27]:
# On garde les variables avec moins de 10% de DM
# variables ayant moins de 10% de DM
missing_final_sup10=missing_df_test_FE[ missing_df_test_FE['Percentage'] >10]
missing_final_sup10

                                            Count  Percentage
CC_MONTHS_BALANCE_VAR                       39470  100.000000
REFUSED_APP_CREDIT_PERC_VAR                 32295   81.821637
CC_MONTHS_BALANCE_MAX                       31335   79.389410
CC_MONTHS_BALANCE_MEAN                      31335   79.389410
CC_MONTHS_BALANCE_MIN                       31335   79.389410
...                                           ...         ...
BURO_CREDIT_ACTIVE_Bad debt_MEAN             5367   13.597669
BURO_CREDIT_TYPE_Mortgage_MEAN               5367   13.597669
BURO_CREDIT_TYPE_Real estate loan_MEAN       5367   13.597669
BURO_CREDIT_TYPE_Unknown type of loan_MEAN   5367   13.597669
BURO_CREDIT_TYPE_Mobile operator loan_MEAN   5367   13.597669

[279 rows x 2 columns]

In [28]:
# supression des variables qui ont plus de 10% de données manquantes 

missing_final_inf10 = df_test_FE.drop(columns=missing_final_sup10.index.tolist())
missing_final_inf10

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
0,0,0,0,100001,0,0,0,-19241,-2329,-5170.0,...,5885.132143,41195.925,3951.000,17397.900,5885.132143,41195.925,-1628.0,-2195.000000,-15365.0,7.0
1,1,1,1,100005,1,0,0,-18064,-4469,-9118.0,...,6240.205000,56161.845,4813.200,17656.245,6240.205000,56161.845,-470.0,-609.555556,-5486.0,9.0
2,2,2,2,100013,1,1,0,-20038,-4458,-2175.0,...,10897.898516,1689174.270,6.165,357347.745,9740.235774,1509736.545,-14.0,-1358.109677,-210507.0,155.0
3,3,3,3,100028,0,0,0,-13976,-1866,-2000.0,...,4979.282257,562658.895,1.170,38988.540,4356.731549,492310.665,-29.0,-858.548673,-97016.0,113.0
4,4,4,4,100038,1,1,1,-13040,-2191,-4000.0,...,11100.337500,133204.050,11097.450,11100.600,11100.337500,133204.050,-466.0,-634.250000,-7611.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,39465,39465,48739,456221,0,0,0,-19970,-5169,-9094.0,...,91036.455000,273109.365,14222.430,244664.505,91036.455000,273109.365,-599.0,-630.333333,-1891.0,3.0
39466,39466,39466,48740,456222,0,0,1,-11186,-1149,-3015.0,...,8086.162192,590289.840,2.700,14571.765,7771.447603,567315.675,-56.0,-992.712329,-72468.0,73.0
39467,39467,39467,48741,456223,0,1,0,-15922,-3037,-2681.0,...,23158.991250,185271.930,12640.950,81184.005,23158.991250,185271.930,-33.0,-586.375000,-4691.0,8.0
39468,39468,39468,48742,456224,1,0,1,-13968,-2731,-1461.0,...,17269.234138,500807.790,5519.925,23451.705,17269.234138,500807.790,-13.0,-924.965517,-26824.0,29.0
39469,39469,39469,48743,456250,0,1,1,-13962,-633,-1072.0,...,13238.063100,661903.155,1.080,26474.625,13044.983400,652249.170,-33.0,-365.760000,-18288.0,50.0

In [29]:
count = missing_final_inf10.isnull().sum().sort_values(ascending=False)
percentage = ((missing_final_inf10.isnull().sum()/len(missing_final_inf10)*100)).sort_values(ascending=False)
missing_final_inf10_2 = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing_final_inf10_2

Count and percentage of missing values s:

                                     Count  Percentage
APPROVED_APP_CREDIT_PERC_MAX          3094    7.838865
APPROVED_APP_CREDIT_PERC_MEAN         3094    7.838865
APPROVED_APP_CREDIT_PERC_MIN          3094    7.838865
APPROVED_AMT_CREDIT_MEAN              3093    7.836331
APPROVED_AMT_GOODS_PRICE_MIN          3093    7.836331
...                                    ...         ...
WEEKDAY_APPR_PROCESS_START_TUESDAY       0    0.000000
WEEKDAY_APPR_PROCESS_START_THURSDAY      0    0.000000
WEEKDAY_APPR_PROCESS_START_SUNDAY        0    0.000000
WEEKDAY_APPR_PROCESS_START_SATURDAY      0    0.000000
Unnamed: 0                               0    0.000000

[446 rows x 2 columns]

In [30]:
missing_final_inf10_sup0 =missing_final_inf10_2[ missing_final_inf10_2['Percentage'] >1]
missing_final_inf10_sup0

                               Count  Percentage
APPROVED_APP_CREDIT_PERC_MAX    3094    7.838865
APPROVED_APP_CREDIT_PERC_MEAN   3094    7.838865
APPROVED_APP_CREDIT_PERC_MIN    3094    7.838865
APPROVED_AMT_CREDIT_MEAN        3093    7.836331
APPROVED_AMT_GOODS_PRICE_MIN    3093    7.836331
...                              ...         ...
INSTAL_DPD_SUM                   680    1.722827
INSTAL_DPD_MEAN                  680    1.722827
INSTAL_DPD_MAX                   680    1.722827
INSTAL_PAYMENT_PERC_SUM          680    1.722827
INSTAL_COUNT                     680    1.722827

[251 rows x 2 columns]

In [31]:
missing_final_inf10_sup0.to_csv('C:/Users/kalin/missing_final_inf10_sup0.csv')

In [32]:
#suppression des variables qui ont moin de 10% de DM avant leur imputation 

df_test_FE_ssDM= missing_final_inf10.drop(columns=missing_final_inf10_sup0.index.tolist())
df_test_FE_ssDM

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,EMERGENCYSTATE_MODE_Missing,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE
0,0,0,0,100001,0,0,0,-19241,-2329,-5170.0,...,0,0,0,1,0,0.121044,0.891463,10.752690,0.840696,0.749450
1,1,1,1,100005,1,0,0,-18064,-4469,-9118.0,...,0,0,1,0,0,0.247398,0.934139,10.470377,0.848705,0.792809
2,2,2,2,100013,1,1,0,-20038,-4458,-2175.0,...,0,0,1,0,0,0.222477,0.911493,11.121758,0.912802,0.832013
3,3,3,3,100028,0,0,0,-13976,-1866,-2000.0,...,0,0,0,1,0,0.133515,0.887214,7.866306,0.853056,0.756843
4,4,4,4,100038,1,1,1,-13040,-2191,-4000.0,...,0,0,1,0,0,0.168021,0.906672,8.728823,0.857438,0.777415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,39465,39465,48739,456221,0,0,0,-19970,-5169,-9094.0,...,0,0,1,0,0,0.258838,0.905456,16.890609,0.834367,0.755483
39466,39466,39466,48740,456222,0,0,1,-11186,-1149,-3015.0,...,0,0,1,0,0,0.102718,0.896999,7.435631,0.866594,0.777334
39467,39467,39467,48741,456223,0,1,0,-15922,-3037,-2681.0,...,0,0,0,1,0,0.190742,0.965101,8.813785,0.852028,0.822293
39468,39468,39468,48742,456224,1,0,1,-13968,-2731,-1461.0,...,0,0,0,1,0,0.195518,0.946751,11.217661,0.822127,0.778349
39469,39469,39469,48743,456250,0,1,1,-13962,-633,-1072.0,...,0,0,1,0,0,0.045337,0.933599,10.752690,0.856256,0.799400

In [33]:
# a imputer 
a_imputer  = df_test_FE[['SK_ID_CURR'
 ,'APPROVED_APP_CREDIT_PERC_MAX'
,'APPROVED_APP_CREDIT_PERC_MIN'
,'APPROVED_APP_CREDIT_PERC_MEAN'
,'APPROVED_AMT_GOODS_PRICE_MAX'
,'APPROVED_AMT_CREDIT_MEAN'
,'APPROVED_AMT_CREDIT_MAX'
,'APPROVED_AMT_GOODS_PRICE_MIN'
,'APPROVED_AMT_APPLICATION_MEAN'
,'APPROVED_AMT_APPLICATION_MAX'
,'APPROVED_AMT_APPLICATION_MIN'
,'APPROVED_AMT_ANNUITY_MEAN'
,'APPROVED_AMT_ANNUITY_MAX'
,'APPROVED_AMT_ANNUITY_MIN'
,'APPROVED_AMT_CREDIT_MIN'
,'APPROVED_HOUR_APPR_PROCESS_START_MIN'
,'APPROVED_HOUR_APPR_PROCESS_START_MAX'
,'APPROVED_HOUR_APPR_PROCESS_START_MEAN'
,'APPROVED_DAYS_DECISION_MIN'
,'APPROVED_DAYS_DECISION_MAX'
,'APPROVED_DAYS_DECISION_MEAN'
,'APPROVED_CNT_PAYMENT_MEAN'
,'APPROVED_CNT_PAYMENT_SUM'
,'APPROVED_AMT_GOODS_PRICE_MEAN'
,'PREV_APP_CREDIT_PERC_MIN'
,'PREV_APP_CREDIT_PERC_MAX'
,'PREV_APP_CREDIT_PERC_MEAN'
,'PREV_NAME_PAYMENT_TYPE_XNA_MEAN'
,'PREV_NAME_PAYMENT_TYPE_Non-cash from your account_MEAN'
,'PREV_NAME_PAYMENT_TYPE_Cashless from the account of the employer_MEAN'
,'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN'
,'PREV_NAME_CONTRACT_STATUS_nan_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Unused offer_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Refused_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Canceled_MEAN'
,'PREV_NAME_CONTRACT_STATUS_Approved_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_nan_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday_MEAN'
,'PREV_NAME_CONTRACT_TYPE_nan_MEAN'
,'PREV_NAME_PAYMENT_TYPE_nan_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Repairs_MEAN'
,'PREV_CODE_REJECT_REASON_CLIENT_MEAN'
,'PREV_NAME_CLIENT_TYPE_Repeater_MEAN'
,'PREV_NAME_CLIENT_TYPE_XNA_MEAN'
,'PREV_NAME_CLIENT_TYPE_nan_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Additional Service_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Animals_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Audio/Video_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Auto Accessories_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Clothing and Accessories_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Computers_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Construction Materials_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Consumer Electronics_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Direct Sales_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Education_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Fitness_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Furniture_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Gardening_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Homewares_MEAN'
,'PREV_NAME_CLIENT_TYPE_Refreshed_MEAN'
,'PREV_NAME_CLIENT_TYPE_New_MEAN'
,'PREV_NAME_TYPE_SUITE_nan_MEAN'
,'PREV_CODE_REJECT_REASON_XNA_MEAN'
,'PREV_CODE_REJECT_REASON_HC_MEAN'
,'PREV_CODE_REJECT_REASON_LIMIT_MEAN'
,'PREV_CODE_REJECT_REASON_SCO_MEAN'
,'PREV_CODE_REJECT_REASON_SCOFR_MEAN'
,'PREV_CODE_REJECT_REASON_SYSTEM_MEAN'
,'PREV_CODE_REJECT_REASON_VERIF_MEAN'
,'PREV_CODE_REJECT_REASON_XAP_MEAN'
,'PREV_CODE_REJECT_REASON_nan_MEAN'
,'PREV_NAME_TYPE_SUITE_Unaccompanied_MEAN'
,'PREV_NAME_TYPE_SUITE_Children_MEAN'
,'PREV_NAME_TYPE_SUITE_Family_MEAN'
,'PREV_NAME_TYPE_SUITE_Group of people_MEAN'
,'PREV_NAME_TYPE_SUITE_Missing_MEAN'
,'PREV_NAME_TYPE_SUITE_Other_A_MEAN'
,'PREV_NAME_TYPE_SUITE_Other_B_MEAN'
,'PREV_NAME_TYPE_SUITE_Spouse, partner_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Urgent needs_MEAN'
,'PREV_AMT_CREDIT_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Refusal to name the goal_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Building a house or an annex_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN'
,'PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN'
,'PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN'
,'PREV_FLAG_LAST_APPL_PER_CONTRACT_Y_MEAN'
,'PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Business development_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a garage_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a home_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a new car_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a used car_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Car repairs_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Education_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Everyday expenses_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Furniture_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Gasification / water supply_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Money for a third person_MEAN'
,'PREV_NAME_CONTRACT_TYPE_XNA_MEAN'
,'PREV_NAME_CONTRACT_TYPE_Revolving loans_MEAN'
,'PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Payments on other loans_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Other_MEAN'
,'PREV_AMT_ANNUITY_MIN'
,'PREV_AMT_ANNUITY_MAX'
,'PREV_AMT_ANNUITY_MEAN'
,'PREV_AMT_APPLICATION_MIN'
,'PREV_AMT_APPLICATION_MAX'
,'PREV_AMT_APPLICATION_MEAN'
,'PREV_AMT_CREDIT_MIN'
,'PREV_AMT_CREDIT_MAX'
,'PREV_NAME_GOODS_CATEGORY_Insurance_MEAN'
,'PREV_AMT_GOODS_PRICE_MIN'
,'PREV_AMT_GOODS_PRICE_MAX'
,'PREV_AMT_GOODS_PRICE_MEAN'
,'PREV_HOUR_APPR_PROCESS_START_MIN'
,'PREV_HOUR_APPR_PROCESS_START_MAX'
,'PREV_HOUR_APPR_PROCESS_START_MEAN'
,'PREV_DAYS_DECISION_MIN'
,'PREV_DAYS_DECISION_MAX'
,'PREV_DAYS_DECISION_MEAN'
,'PREV_CNT_PAYMENT_MEAN'
,'PREV_CNT_PAYMENT_SUM'
,'PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN'
,'PREV_NAME_GOODS_CATEGORY_House Construction_MEAN'
,'PREV_NAME_GOODS_CATEGORY_XNA_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Jewelry_MEAN'
,'PREV_NAME_YIELD_GROUP_XNA_MEAN'
,'PREV_PRODUCT_COMBINATION_Card Street_MEAN'
,'PREV_NAME_YIELD_GROUP_nan_MEAN'
,'PREV_NAME_YIELD_GROUP_middle_MEAN'
,'PREV_NAME_YIELD_GROUP_low_normal_MEAN'
,'PREV_NAME_YIELD_GROUP_low_action_MEAN'
,'PREV_NAME_YIELD_GROUP_high_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_nan_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_XNA_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Tourism_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_MLM partners_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Jewelry_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Industry_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN'
,'PREV_PRODUCT_COMBINATION_Card X-Sell_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash Street: high_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Construction_MEAN'
,'PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_nan_MEAN'
,'PREV_PRODUCT_COMBINATION_POS others without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS other with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_POS household without interest_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash Street: low_MEAN'
,'PREV_PRODUCT_COMBINATION_POS household with interest_MEAN'
,'PREV_PRODUCT_COMBINATION_Missing_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash X-Sell: low_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Medical Supplies_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash Street: middle_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Consumer electronics_MEAN'
,'PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Tourism_MEAN'
,'PREV_NAME_PORTFOLIO_Cars_MEAN'
,'PREV_NAME_PORTFOLIO_Cards_MEAN'
,'PREV_NAME_GOODS_CATEGORY_nan_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Medicine_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Weapon_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Vehicles_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Sport and Leisure_MEAN'
,'PREV_NAME_PORTFOLIO_POS_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Photo / Cinema Equipment_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Other_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Office Appliances_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Mobile_MEAN'
,'PREV_NAME_GOODS_CATEGORY_Medicine_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN'
,'PREV_NAME_PORTFOLIO_Cash_MEAN'
,'PREV_NAME_CASH_LOAN_PURPOSE_Journey_MEAN'
,'PREV_NAME_PORTFOLIO_XNA_MEAN'
,'PREV_CHANNEL_TYPE_Contact center_MEAN'
,'PREV_NAME_SELLER_INDUSTRY_Auto technology_MEAN'
,'PREV_NAME_PORTFOLIO_nan_MEAN'
,'PREV_CHANNEL_TYPE_nan_MEAN'
,'PREV_CHANNEL_TYPE_Stone_MEAN'
,'PREV_CHANNEL_TYPE_Credit and cash offices_MEAN'
,'PREV_CHANNEL_TYPE_Country-wide_MEAN'
,'PREV_CHANNEL_TYPE_Regional / Local_MEAN'
,'PREV_CHANNEL_TYPE_Channel of corporate sales_MEAN'
,'PREV_CHANNEL_TYPE_Car dealer_MEAN'
,'PREV_CHANNEL_TYPE_AP+ (Cash loan)_MEAN'
,'PREV_NAME_PRODUCT_TYPE_nan_MEAN'
,'PREV_NAME_PRODUCT_TYPE_x-sell_MEAN'
,'PREV_NAME_PRODUCT_TYPE_walk-in_MEAN'
,'PREV_NAME_PRODUCT_TYPE_XNA_MEAN'
,'POS_NAME_CONTRACT_STATUS_Approved_MEAN'
,'POS_COUNT'
,'POS_NAME_CONTRACT_STATUS_nan_MEAN'
,'POS_NAME_CONTRACT_STATUS_XNA_MEAN'
,'POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN'
,'POS_NAME_CONTRACT_STATUS_Demand_MEAN'
,'POS_NAME_CONTRACT_STATUS_Completed_MEAN'
,'POS_NAME_CONTRACT_STATUS_Canceled_MEAN'
,'POS_NAME_CONTRACT_STATUS_Signed_MEAN'
,'POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN'
,'POS_MONTHS_BALANCE_SIZE'
,'POS_NAME_CONTRACT_STATUS_Active_MEAN'
,'POS_MONTHS_BALANCE_MAX'
,'POS_MONTHS_BALANCE_MEAN'
,'POS_SK_DPD_DEF_MAX'
,'POS_SK_DPD_MAX'
,'POS_SK_DPD_DEF_MEAN'
,'POS_SK_DPD_MEAN'
,'INSTAL_PAYMENT_PERC_VAR'
,'INSTAL_PAYMENT_DIFF_VAR'
,'INSTAL_DAYS_ENTRY_PAYMENT_SUM'
,'INSTAL_DAYS_ENTRY_PAYMENT_MEAN'
,'INSTAL_DAYS_ENTRY_PAYMENT_MAX'
,'INSTAL_AMT_PAYMENT_SUM'
,'INSTAL_AMT_PAYMENT_MEAN'
,'INSTAL_AMT_PAYMENT_MAX'
,'INSTAL_AMT_PAYMENT_MIN'
,'INSTAL_AMT_INSTALMENT_SUM'
,'INSTAL_AMT_INSTALMENT_MEAN'
,'INSTAL_AMT_INSTALMENT_MAX'
,'INSTAL_PAYMENT_DIFF_MEAN'
,'INSTAL_PAYMENT_DIFF_SUM'
,'INSTAL_PAYMENT_DIFF_MAX'
,'INSTAL_PAYMENT_PERC_MEAN'
,'INSTAL_PAYMENT_PERC_MAX'
,'INSTAL_DBD_SUM'
,'INSTAL_DBD_MEAN'
,'INSTAL_DBD_MAX'
,'INSTAL_DPD_SUM'
,'INSTAL_DPD_MEAN'
,'INSTAL_DPD_MAX'
,'INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE'
,'INSTAL_PAYMENT_PERC_SUM'
,'INSTAL_COUNT']]

In [34]:
a_imputer

,SK_ID_CURR,APPROVED_APP_CREDIT_PERC_MAX,APPROVED_APP_CREDIT_PERC_MIN,APPROVED_APP_CREDIT_PERC_MEAN,APPROVED_AMT_GOODS_PRICE_MAX,APPROVED_AMT_CREDIT_MEAN,APPROVED_AMT_CREDIT_MAX,APPROVED_AMT_GOODS_PRICE_MIN,APPROVED_AMT_APPLICATION_MEAN,APPROVED_AMT_APPLICATION_MAX,...,INSTAL_PAYMENT_PERC_MAX,INSTAL_DBD_SUM,INSTAL_DBD_MEAN,INSTAL_DBD_MAX,INSTAL_DPD_SUM,INSTAL_DPD_MEAN,INSTAL_DPD_MAX,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_PAYMENT_PERC_SUM,INSTAL_COUNT
0,100001,1.004280,1.004280,1.004280,10.120070,10.076937,10.076937,10.120070,10.120070,10.120070,...,1.0,62.0,8.857143,36.0,11.0,1.571429,11.0,2.0,7.0,7.0
1,100005,1.009944,1.009944,1.009944,10.705904,10.600490,10.600490,10.705904,10.705904,10.705904,...,1.0,213.0,23.666667,37.0,1.0,0.111111,1.0,2.0,9.0,9.0
2,100013,1.005807,0.990127,0.996129,13.017005,11.339966,13.146804,10.019313,11.292169,13.017005,...,1.0,887.0,5.722581,38.0,84.0,0.541935,21.0,3.0,145.0,155.0
3,100028,1.009337,1.000000,1.004669,11.781169,11.387639,11.781169,11.096766,11.438967,11.781169,...,1.0,369.0,3.265487,19.0,30.0,0.265487,7.0,3.0,103.0,113.0
4,100038,0.988243,0.988243,0.988243,11.301661,11.436115,11.436115,11.301661,11.301661,11.301661,...,1.0,147.0,12.250000,18.0,0.0,0.000000,0.0,1.0,12.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,456221,0.990040,0.990040,0.990040,12.323860,12.447846,12.447846,12.323860,12.323860,12.323860,...,1.0,22.0,7.333333,8.0,0.0,0.000000,0.0,2.0,3.0,3.0
39466,456222,1.005541,0.983626,0.992525,12.125410,11.174902,12.249396,10.252259,11.086531,12.125410,...,1.0,438.0,6.000000,26.0,38.0,0.520548,19.0,1.0,70.0,73.0
39467,456223,1.008824,1.008824,1.008824,12.048398,11.943012,11.943012,12.048398,12.048398,12.048398,...,1.0,253.0,31.625000,76.0,0.0,0.000000,0.0,2.0,8.0,8.0
39468,456224,1.003245,1.003245,1.003245,10.642731,10.608304,10.608304,10.642731,10.642731,10.642731,...,1.0,211.0,7.275862,15.0,1.0,0.034483,1.0,1.0,29.0,29.0
39469,456250,0.996470,0.994841,0.995655,12.323860,12.145173,12.387773,11.860557,12.092208,12.323860,...,1.0,430.0,8.600000,30.0,21.0,0.420000,10.0,2.0,49.0,50.0

In [35]:
count = a_imputer.isnull().sum().sort_values(ascending=False)
count

APPROVED_APP_CREDIT_PERC_MIN      3094
APPROVED_APP_CREDIT_PERC_MEAN     3094
APPROVED_APP_CREDIT_PERC_MAX      3094
APPROVED_DAYS_DECISION_MIN        3093
APPROVED_AMT_CREDIT_MIN           3093
                                  ...
INSTAL_AMT_PAYMENT_SUM             680
INSTAL_DAYS_ENTRY_PAYMENT_MAX      680
INSTAL_DAYS_ENTRY_PAYMENT_MEAN     680
INSTAL_DAYS_ENTRY_PAYMENT_SUM      680
SK_ID_CURR                           0
Length: 252, dtype: int64

In [36]:
count = a_imputer.isnull().sum().sort_values(ascending=False)
percentage = ((a_imputer.isnull().sum()/len(a_imputer)*100)).sort_values(ascending=False)
missing = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing

Count and percentage of missing values s:

                                Count  Percentage
APPROVED_APP_CREDIT_PERC_MIN     3094    7.838865
APPROVED_APP_CREDIT_PERC_MEAN    3094    7.838865
APPROVED_APP_CREDIT_PERC_MAX     3094    7.838865
APPROVED_DAYS_DECISION_MIN       3093    7.836331
APPROVED_AMT_CREDIT_MIN          3093    7.836331
...                               ...         ...
INSTAL_AMT_PAYMENT_SUM            680    1.722827
INSTAL_DAYS_ENTRY_PAYMENT_MAX     680    1.722827
INSTAL_DAYS_ENTRY_PAYMENT_MEAN    680    1.722827
INSTAL_DAYS_ENTRY_PAYMENT_SUM     680    1.722827
SK_ID_CURR                          0    0.000000

[252 rows x 2 columns]

In [37]:
#imputation des variables qui ont moins de 10% de DM

DM_mediane(a_imputer,'APPROVED_APP_CREDIT_PERC_MAX')
DM_mediane(a_imputer,'APPROVED_APP_CREDIT_PERC_MIN')
DM_mediane(a_imputer,'APPROVED_APP_CREDIT_PERC_MEAN')
DM_mediane(a_imputer,'APPROVED_AMT_GOODS_PRICE_MAX')
DM_mediane(a_imputer,'APPROVED_AMT_CREDIT_MEAN')
DM_mediane(a_imputer,'APPROVED_AMT_CREDIT_MAX')
DM_mediane(a_imputer,'APPROVED_AMT_GOODS_PRICE_MIN')
DM_mediane(a_imputer,'APPROVED_AMT_APPLICATION_MEAN')
DM_mediane(a_imputer,'APPROVED_AMT_APPLICATION_MAX')
DM_mediane(a_imputer,'APPROVED_AMT_APPLICATION_MIN')
DM_mediane(a_imputer,'APPROVED_AMT_ANNUITY_MEAN')
DM_mediane(a_imputer,'APPROVED_AMT_ANNUITY_MAX')
DM_mediane(a_imputer,'APPROVED_AMT_ANNUITY_MIN')
DM_mediane(a_imputer,'APPROVED_AMT_CREDIT_MIN')
DM_mediane(a_imputer,'APPROVED_HOUR_APPR_PROCESS_START_MIN')
DM_mediane(a_imputer,'APPROVED_HOUR_APPR_PROCESS_START_MAX')
DM_mediane(a_imputer,'APPROVED_HOUR_APPR_PROCESS_START_MEAN')
DM_mediane(a_imputer,'APPROVED_DAYS_DECISION_MIN')
DM_mediane(a_imputer,'APPROVED_DAYS_DECISION_MAX')
DM_mediane(a_imputer,'APPROVED_DAYS_DECISION_MEAN')
DM_mediane(a_imputer,'APPROVED_CNT_PAYMENT_MEAN')
DM_mediane(a_imputer,'APPROVED_CNT_PAYMENT_SUM')
DM_mediane(a_imputer,'APPROVED_AMT_GOODS_PRICE_MEAN')
DM_mediane(a_imputer,'PREV_APP_CREDIT_PERC_MIN')
DM_mediane(a_imputer,'PREV_APP_CREDIT_PERC_MAX')
DM_mediane(a_imputer,'PREV_APP_CREDIT_PERC_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PAYMENT_TYPE_XNA_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PAYMENT_TYPE_Non-cash from your account_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PAYMENT_TYPE_Cashless from the account of the employer_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_STATUS_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_STATUS_Unused offer_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_STATUS_Refused_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_STATUS_Canceled_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_STATUS_Approved_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_TYPE_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PAYMENT_TYPE_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Repairs_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_CLIENT_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CLIENT_TYPE_Repeater_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CLIENT_TYPE_XNA_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CLIENT_TYPE_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Additional Service_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Animals_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Audio/Video_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Auto Accessories_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Clothing and Accessories_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Computers_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Construction Materials_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Consumer Electronics_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Direct Sales_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Education_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Fitness_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Furniture_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Gardening_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Homewares_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CLIENT_TYPE_Refreshed_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CLIENT_TYPE_New_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_nan_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_XNA_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_HC_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_LIMIT_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_SCO_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_SCOFR_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_SYSTEM_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_VERIF_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_XAP_MEAN')
DM_mediane(a_imputer,'PREV_CODE_REJECT_REASON_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Unaccompanied_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Children_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Family_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Group of people_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Missing_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Other_A_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Other_B_MEAN')
DM_mediane(a_imputer,'PREV_NAME_TYPE_SUITE_Spouse, partner_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Urgent needs_MEAN')
DM_mediane(a_imputer,'PREV_AMT_CREDIT_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Refusal to name the goal_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Building a house or an annex_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN')
DM_mediane(a_imputer,'PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN')
DM_mediane(a_imputer,'PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN')
DM_mediane(a_imputer,'PREV_FLAG_LAST_APPL_PER_CONTRACT_Y_MEAN')
DM_mediane(a_imputer,'PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Business development_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a garage_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a home_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a new car_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Buying a used car_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Car repairs_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Education_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Everyday expenses_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Furniture_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Gasification / water supply_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Money for a third person_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_TYPE_XNA_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_TYPE_Revolving loans_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Payments on other loans_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Other_MEAN')
DM_mediane(a_imputer,'PREV_AMT_ANNUITY_MIN')
DM_mediane(a_imputer,'PREV_AMT_ANNUITY_MAX')
DM_mediane(a_imputer,'PREV_AMT_ANNUITY_MEAN')
DM_mediane(a_imputer,'PREV_AMT_APPLICATION_MIN')
DM_mediane(a_imputer,'PREV_AMT_APPLICATION_MAX')
DM_mediane(a_imputer,'PREV_AMT_APPLICATION_MEAN')
DM_mediane(a_imputer,'PREV_AMT_CREDIT_MIN')
DM_mediane(a_imputer,'PREV_AMT_CREDIT_MAX')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Insurance_MEAN')
DM_mediane(a_imputer,'PREV_AMT_GOODS_PRICE_MIN')
DM_mediane(a_imputer,'PREV_AMT_GOODS_PRICE_MAX')
DM_mediane(a_imputer,'PREV_AMT_GOODS_PRICE_MEAN')
DM_mediane(a_imputer,'PREV_HOUR_APPR_PROCESS_START_MIN')
DM_mediane(a_imputer,'PREV_HOUR_APPR_PROCESS_START_MAX')
DM_mediane(a_imputer,'PREV_HOUR_APPR_PROCESS_START_MEAN')
DM_mediane(a_imputer,'PREV_DAYS_DECISION_MIN')
DM_mediane(a_imputer,'PREV_DAYS_DECISION_MAX')
DM_mediane(a_imputer,'PREV_DAYS_DECISION_MEAN')
DM_mediane(a_imputer,'PREV_CNT_PAYMENT_MEAN')
DM_mediane(a_imputer,'PREV_CNT_PAYMENT_SUM')
DM_mediane(a_imputer,'PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_House Construction_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_XNA_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Jewelry_MEAN')
DM_mediane(a_imputer,'PREV_NAME_YIELD_GROUP_XNA_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Card Street_MEAN')
DM_mediane(a_imputer,'PREV_NAME_YIELD_GROUP_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_YIELD_GROUP_middle_MEAN')
DM_mediane(a_imputer,'PREV_NAME_YIELD_GROUP_low_normal_MEAN')
DM_mediane(a_imputer,'PREV_NAME_YIELD_GROUP_low_action_MEAN')
DM_mediane(a_imputer,'PREV_NAME_YIELD_GROUP_high_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_nan_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_XNA_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Tourism_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_MLM partners_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Jewelry_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Industry_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Card X-Sell_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash Street: high_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Construction_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_nan_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS others without interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS other with interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS household without interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash Street: low_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_POS household with interest_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Missing_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash X-Sell: low_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Medical Supplies_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash Street: middle_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Consumer electronics_MEAN')
DM_mediane(a_imputer,'PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Tourism_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PORTFOLIO_Cars_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PORTFOLIO_Cards_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Medicine_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Weapon_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Vehicles_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Sport and Leisure_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PORTFOLIO_POS_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Photo / Cinema Equipment_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Other_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Office Appliances_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Mobile_MEAN')
DM_mediane(a_imputer,'PREV_NAME_GOODS_CATEGORY_Medicine_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PORTFOLIO_Cash_MEAN')
DM_mediane(a_imputer,'PREV_NAME_CASH_LOAN_PURPOSE_Journey_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PORTFOLIO_XNA_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Contact center_MEAN')
DM_mediane(a_imputer,'PREV_NAME_SELLER_INDUSTRY_Auto technology_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PORTFOLIO_nan_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_nan_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Stone_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Credit and cash offices_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Country-wide_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Regional / Local_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Channel of corporate sales_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_Car dealer_MEAN')
DM_mediane(a_imputer,'PREV_CHANNEL_TYPE_AP+ (Cash loan)_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PRODUCT_TYPE_nan_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PRODUCT_TYPE_x-sell_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PRODUCT_TYPE_walk-in_MEAN')
DM_mediane(a_imputer,'PREV_NAME_PRODUCT_TYPE_XNA_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Approved_MEAN')
DM_mediane(a_imputer,'POS_COUNT')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_nan_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_XNA_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Demand_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Completed_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Canceled_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Signed_MEAN')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN')
DM_mediane(a_imputer,'POS_MONTHS_BALANCE_SIZE')
DM_mediane(a_imputer,'POS_NAME_CONTRACT_STATUS_Active_MEAN')
DM_mediane(a_imputer,'POS_MONTHS_BALANCE_MAX')
DM_mediane(a_imputer,'POS_MONTHS_BALANCE_MEAN')
DM_mediane(a_imputer,'POS_SK_DPD_DEF_MAX')
DM_mediane(a_imputer,'POS_SK_DPD_MAX')
DM_mediane(a_imputer,'POS_SK_DPD_DEF_MEAN')
DM_mediane(a_imputer,'POS_SK_DPD_MEAN')
DM_mediane(a_imputer,'INSTAL_PAYMENT_PERC_VAR')
DM_mediane(a_imputer,'INSTAL_PAYMENT_DIFF_VAR')
DM_mediane(a_imputer,'INSTAL_DAYS_ENTRY_PAYMENT_SUM')
DM_mediane(a_imputer,'INSTAL_DAYS_ENTRY_PAYMENT_MEAN')
DM_mediane(a_imputer,'INSTAL_DAYS_ENTRY_PAYMENT_MAX')
DM_mediane(a_imputer,'INSTAL_AMT_PAYMENT_SUM')
DM_mediane(a_imputer,'INSTAL_AMT_PAYMENT_MEAN')
DM_mediane(a_imputer,'INSTAL_AMT_PAYMENT_MAX')
DM_mediane(a_imputer,'INSTAL_AMT_PAYMENT_MIN')
DM_mediane(a_imputer,'INSTAL_AMT_INSTALMENT_SUM')
DM_mediane(a_imputer,'INSTAL_AMT_INSTALMENT_MEAN')
DM_mediane(a_imputer,'INSTAL_AMT_INSTALMENT_MAX')
DM_mediane(a_imputer,'INSTAL_PAYMENT_DIFF_MEAN')
DM_mediane(a_imputer,'INSTAL_PAYMENT_DIFF_SUM')
DM_mediane(a_imputer,'INSTAL_PAYMENT_DIFF_MAX')
DM_mediane(a_imputer,'INSTAL_PAYMENT_PERC_MEAN')
DM_mediane(a_imputer,'INSTAL_PAYMENT_PERC_MAX')
DM_mediane(a_imputer,'INSTAL_DBD_SUM')
DM_mediane(a_imputer,'INSTAL_DBD_MEAN')
DM_mediane(a_imputer,'INSTAL_DBD_MAX')
DM_mediane(a_imputer,'INSTAL_DPD_SUM')
DM_mediane(a_imputer,'INSTAL_DPD_MEAN')
DM_mediane(a_imputer,'INSTAL_DPD_MAX')
DM_mediane(a_imputer,'INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE')
DM_mediane(a_imputer,'INSTAL_PAYMENT_PERC_SUM')
DM_mediane(a_imputer,'INSTAL_COUNT')

C:\Users\kalin\anaconda3\envs\OCR5\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [38]:
count = a_imputer.isnull().sum().sort_values(ascending=False)
percentage = ((a_imputer.isnull().sum()/len(a_imputer)*100)).sort_values(ascending=False)
missing = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing

Count and percentage of missing values s:

                                                    Count  Percentage
SK_ID_CURR                                              0         0.0
PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN         0         0.0
PREV_PRODUCT_COMBINATION_POS other with interes...      0         0.0
PREV_PRODUCT_COMBINATION_POS mobile without int...      0         0.0
PREV_PRODUCT_COMBINATION_POS mobile with intere...      0         0.0
...                                                   ...         ...
PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN             0         0.0
PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN           0         0.0
PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN            0         0.0
PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN          0         0.0
INSTAL_COUNT                                            0         0.0

[252 rows x 2 columns]

In [39]:
df_test_FE_ssDM

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,EMERGENCYSTATE_MODE_Missing,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE
0,0,0,0,100001,0,0,0,-19241,-2329,-5170.0,...,0,0,0,1,0,0.121044,0.891463,10.752690,0.840696,0.749450
1,1,1,1,100005,1,0,0,-18064,-4469,-9118.0,...,0,0,1,0,0,0.247398,0.934139,10.470377,0.848705,0.792809
2,2,2,2,100013,1,1,0,-20038,-4458,-2175.0,...,0,0,1,0,0,0.222477,0.911493,11.121758,0.912802,0.832013
3,3,3,3,100028,0,0,0,-13976,-1866,-2000.0,...,0,0,0,1,0,0.133515,0.887214,7.866306,0.853056,0.756843
4,4,4,4,100038,1,1,1,-13040,-2191,-4000.0,...,0,0,1,0,0,0.168021,0.906672,8.728823,0.857438,0.777415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,39465,39465,48739,456221,0,0,0,-19970,-5169,-9094.0,...,0,0,1,0,0,0.258838,0.905456,16.890609,0.834367,0.755483
39466,39466,39466,48740,456222,0,0,1,-11186,-1149,-3015.0,...,0,0,1,0,0,0.102718,0.896999,7.435631,0.866594,0.777334
39467,39467,39467,48741,456223,0,1,0,-15922,-3037,-2681.0,...,0,0,0,1,0,0.190742,0.965101,8.813785,0.852028,0.822293
39468,39468,39468,48742,456224,1,0,1,-13968,-2731,-1461.0,...,0,0,0,1,0,0.195518,0.946751,11.217661,0.822127,0.778349
39469,39469,39469,48743,456250,0,1,1,-13962,-633,-1072.0,...,0,0,1,0,0,0.045337,0.933599,10.752690,0.856256,0.799400

In [40]:
count = df_test_FE_ssDM.isnull().sum().sort_values(ascending=False)
count

Unnamed: 0                             0
ORGANIZATION_TYPE_Industry: type 11    0
WEEKDAY_APPR_PROCESS_START_MONDAY      0
WEEKDAY_APPR_PROCESS_START_SATURDAY    0
WEEKDAY_APPR_PROCESS_START_SUNDAY      0
                                      ..
AMT_REQ_CREDIT_BUREAU_HOUR             0
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
PAYMENT_RATE                           0
Length: 195, dtype: int64

In [41]:
a_imputer

,SK_ID_CURR,APPROVED_APP_CREDIT_PERC_MAX,APPROVED_APP_CREDIT_PERC_MIN,APPROVED_APP_CREDIT_PERC_MEAN,APPROVED_AMT_GOODS_PRICE_MAX,APPROVED_AMT_CREDIT_MEAN,APPROVED_AMT_CREDIT_MAX,APPROVED_AMT_GOODS_PRICE_MIN,APPROVED_AMT_APPLICATION_MEAN,APPROVED_AMT_APPLICATION_MAX,...,INSTAL_PAYMENT_PERC_MAX,INSTAL_DBD_SUM,INSTAL_DBD_MEAN,INSTAL_DBD_MAX,INSTAL_DPD_SUM,INSTAL_DPD_MEAN,INSTAL_DPD_MAX,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_PAYMENT_PERC_SUM,INSTAL_COUNT
0,100001,1.004280,1.004280,1.004280,10.120070,10.076937,10.076937,10.120070,10.120070,10.120070,...,1.0,62.0,8.857143,36.0,11.0,1.571429,11.0,2.0,7.0,7.0
1,100005,1.009944,1.009944,1.009944,10.705904,10.600490,10.600490,10.705904,10.705904,10.705904,...,1.0,213.0,23.666667,37.0,1.0,0.111111,1.0,2.0,9.0,9.0
2,100013,1.005807,0.990127,0.996129,13.017005,11.339966,13.146804,10.019313,11.292169,13.017005,...,1.0,887.0,5.722581,38.0,84.0,0.541935,21.0,3.0,145.0,155.0
3,100028,1.009337,1.000000,1.004669,11.781169,11.387639,11.781169,11.096766,11.438967,11.781169,...,1.0,369.0,3.265487,19.0,30.0,0.265487,7.0,3.0,103.0,113.0
4,100038,0.988243,0.988243,0.988243,11.301661,11.436115,11.436115,11.301661,11.301661,11.301661,...,1.0,147.0,12.250000,18.0,0.0,0.000000,0.0,1.0,12.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,456221,0.990040,0.990040,0.990040,12.323860,12.447846,12.447846,12.323860,12.323860,12.323860,...,1.0,22.0,7.333333,8.0,0.0,0.000000,0.0,2.0,3.0,3.0
39466,456222,1.005541,0.983626,0.992525,12.125410,11.174902,12.249396,10.252259,11.086531,12.125410,...,1.0,438.0,6.000000,26.0,38.0,0.520548,19.0,1.0,70.0,73.0
39467,456223,1.008824,1.008824,1.008824,12.048398,11.943012,11.943012,12.048398,12.048398,12.048398,...,1.0,253.0,31.625000,76.0,0.0,0.000000,0.0,2.0,8.0,8.0
39468,456224,1.003245,1.003245,1.003245,10.642731,10.608304,10.608304,10.642731,10.642731,10.642731,...,1.0,211.0,7.275862,15.0,1.0,0.034483,1.0,1.0,29.0,29.0
39469,456250,0.996470,0.994841,0.995655,12.323860,12.145173,12.387773,11.860557,12.092208,12.323860,...,1.0,430.0,8.600000,30.0,21.0,0.420000,10.0,2.0,49.0,50.0

In [42]:
count = a_imputer.isnull().sum().sort_values(ascending=False)
count

SK_ID_CURR                                                   0
PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN              0
PREV_PRODUCT_COMBINATION_POS other with interest_MEAN        0
PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN    0
PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN       0
                                                            ..
PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN                  0
PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN                0
PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN                 0
PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN               0
INSTAL_COUNT                                                 0
Length: 252, dtype: int64

In [43]:
test_FE_ssDM = df_test_FE_ssDM.merge(a_imputer, how='left', on='SK_ID_CURR')
test_FE_ssDM

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,INSTAL_PAYMENT_PERC_MAX,INSTAL_DBD_SUM,INSTAL_DBD_MEAN,INSTAL_DBD_MAX,INSTAL_DPD_SUM,INSTAL_DPD_MEAN,INSTAL_DPD_MAX,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_PAYMENT_PERC_SUM,INSTAL_COUNT
0,0,0,0,100001,0,0,0,-19241,-2329,-5170.0,...,1.0,62.0,8.857143,36.0,11.0,1.571429,11.0,2.0,7.0,7.0
1,1,1,1,100005,1,0,0,-18064,-4469,-9118.0,...,1.0,213.0,23.666667,37.0,1.0,0.111111,1.0,2.0,9.0,9.0
2,2,2,2,100013,1,1,0,-20038,-4458,-2175.0,...,1.0,887.0,5.722581,38.0,84.0,0.541935,21.0,3.0,145.0,155.0
3,3,3,3,100028,0,0,0,-13976,-1866,-2000.0,...,1.0,369.0,3.265487,19.0,30.0,0.265487,7.0,3.0,103.0,113.0
4,4,4,4,100038,1,1,1,-13040,-2191,-4000.0,...,1.0,147.0,12.250000,18.0,0.0,0.000000,0.0,1.0,12.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39465,39465,39465,48739,456221,0,0,0,-19970,-5169,-9094.0,...,1.0,22.0,7.333333,8.0,0.0,0.000000,0.0,2.0,3.0,3.0
39466,39466,39466,48740,456222,0,0,1,-11186,-1149,-3015.0,...,1.0,438.0,6.000000,26.0,38.0,0.520548,19.0,1.0,70.0,73.0
39467,39467,39467,48741,456223,0,1,0,-15922,-3037,-2681.0,...,1.0,253.0,31.625000,76.0,0.0,0.000000,0.0,2.0,8.0,8.0
39468,39468,39468,48742,456224,1,0,1,-13968,-2731,-1461.0,...,1.0,211.0,7.275862,15.0,1.0,0.034483,1.0,1.0,29.0,29.0
39469,39469,39469,48743,456250,0,1,1,-13962,-633,-1072.0,...,1.0,430.0,8.600000,30.0,21.0,0.420000,10.0,2.0,49.0,50.0

In [44]:
count = test_FE_ssDM.isnull().sum().sort_values(ascending=False)
percentage = ((test_FE_ssDM.isnull().sum()/len(test_FE_ssDM)*100)).sort_values(ascending=False)
missing = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing

Count and percentage of missing values s:

                                                    Count  Percentage
Unnamed: 0                                              0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday ho...      0         0.0
PREV_NAME_CONTRACT_TYPE_XNA_MEAN                        0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Money for a third p...      0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN                  0         0.0
...                                                   ...         ...
ORGANIZATION_TYPE_Industry: type 10                     0         0.0
ORGANIZATION_TYPE_Industry: type 1                      0         0.0
ORGANIZATION_TYPE_Housing                               0         0.0
ORGANIZATION_TYPE_Hotel                                 0         0.0
INSTAL_COUNT                                            0         0.0

[446 rows x 2 columns]

In [45]:
a_imputer.columns

Index(['SK_ID_CURR', 'APPROVED_APP_CREDIT_PERC_MAX',
       'APPROVED_APP_CREDIT_PERC_MIN', 'APPROVED_APP_CREDIT_PERC_MEAN',
       'APPROVED_AMT_GOODS_PRICE_MAX', 'APPROVED_AMT_CREDIT_MEAN',
       'APPROVED_AMT_CREDIT_MAX', 'APPROVED_AMT_GOODS_PRICE_MIN',
       'APPROVED_AMT_APPLICATION_MEAN', 'APPROVED_AMT_APPLICATION_MAX',
       ...
       'INSTAL_PAYMENT_PERC_MAX', 'INSTAL_DBD_SUM', 'INSTAL_DBD_MEAN',
       'INSTAL_DBD_MAX', 'INSTAL_DPD_SUM', 'INSTAL_DPD_MEAN', 'INSTAL_DPD_MAX',
       'INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE', 'INSTAL_PAYMENT_PERC_SUM',
       'INSTAL_COUNT'],
      dtype='object', length=252)

In [46]:
test_FE_ssDM.to_csv('C:/Users/kalin/test_FE_ssDM.csv')

In [47]:
count = test_FE_ssDM.isnull().sum().sort_values(ascending=False)
percentage = ((test_FE_ssDM.isnull().sum()/len(test_FE_ssDM)*100)).sort_values(ascending=False)
missing = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing

Count and percentage of missing values s:

                                                    Count  Percentage
Unnamed: 0                                              0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday ho...      0         0.0
PREV_NAME_CONTRACT_TYPE_XNA_MEAN                        0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Money for a third p...      0         0.0
PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN                  0         0.0
...                                                   ...         ...
ORGANIZATION_TYPE_Industry: type 10                     0         0.0
ORGANIZATION_TYPE_Industry: type 1                      0         0.0
ORGANIZATION_TYPE_Housing                               0         0.0
ORGANIZATION_TYPE_Hotel                                 0         0.0
INSTAL_COUNT                                            0         0.0

[446 rows x 2 columns]