In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import scipy as sp
from scipy.stats import f_oneway
import statsmodels.api as sm
from statsmodels.formula.api import ols

# visulaisation
from matplotlib.pyplot import xticks
%matplotlib inline

# Merge des tables avec FE

In [2]:
#Tables pour table finale (avec Feature ingeniering) enlever pd.DataFrame

application_train_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/application_train_FE.csv'))
application_test_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/application_test_FE.csv'))
bureau_and_balances_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/bureau_and_balance_FE.csv'))
previous_applications_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/previous_applications_FE.csv'))
pos_cash_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/pos_cash_FE.csv'))
installments_payments_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/installments_payments_FE.csv'))
credit_card_balance_FE = pd.DataFrame(pd.read_csv('C:/Users/kalin/credit_card_balance_FE.csv'))

In [3]:
application_train_FE

,Unnamed: 0,Unnamed: 0.1,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,EMERGENCYSTATE_MODE_Missing,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE
0,0,0,100002,1,0,0,0,-9461,-637,-3648.0,...,0,0,0,1,0,0.067329,0.946028,17.627570,0.827812,0.783133
1,1,1,100003,0,1,0,1,-16765,-1188,-1186.0,...,0,0,0,1,0,0.070862,0.888673,11.383616,0.838217,0.744901
2,2,2,100004,0,0,1,0,-19046,-225,-4260.0,...,0,0,1,0,0,0.011814,0.941324,16.042621,0.792943,0.746416
3,3,3,100006,0,1,0,0,-19005,-3039,-9833.0,...,0,0,1,0,0,0.159905,0.933619,10.752690,0.871789,0.813920
4,4,4,100007,0,0,0,0,-19932,-3038,-4311.0,...,0,0,1,0,0,0.152418,0.890451,16.890609,0.853518,0.760016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252132,307504,456248,0,1,0,0,-16705,-7258,-9798.0,...,0,0,1,0,0,0.434481,0.939080,17.223182,0.811380,0.761951
252129,252133,307506,456251,0,0,0,1,-9327,-236,-8456.0,...,0,0,0,1,0,0.025303,0.961386,17.265001,0.854343,0.821354
252130,252134,307508,456253,0,1,0,0,-14966,-7921,-6737.0,...,0,0,0,1,0,0.529266,0.889158,17.223182,0.863471,0.767762
252131,252135,307509,456254,1,1,0,0,-11961,-4786,-2562.0,...,0,0,0,1,0,0.400134,0.939779,10.967859,0.822756,0.773209
252132,252136,307510,456255,0,1,0,1,-16856,-1262,-5128.0,...,0,0,0,1,0,0.074869,0.891579,10.893003,0.902634,0.804769

In [4]:
#train 
df_train_FE = application_train_FE.merge(bureau_and_balances_FE, how='left', on='SK_ID_CURR')
df_train_FE = df_train_FE.merge(previous_applications_FE, how='left', on='SK_ID_CURR')
df_train_FE = df_train_FE.merge(pos_cash_FE, how='left', on='SK_ID_CURR')
df_train_FE = df_train_FE.merge(installments_payments_FE, how='left', on='SK_ID_CURR')
df_train_FE = df_train_FE.merge(credit_card_balance_FE, how='left', on='SK_ID_CURR')

In [ ]:
#test
df_test_FE = application_test_FE.merge(bureau_and_balances_FE, how='left', on='SK_ID_CURR')
df_test_FE = df_test_FE.merge(previous_applications_FE, how='left', on='SK_ID_CURR')
df_test_FE = df_test_FE.merge(pos_cash_FE, how='left', on='SK_ID_CURR')
df_test_FE = df_test_FE.merge(installments_payments_FE, how='left', on='SK_ID_CURR')
df_test_FE = df_test_FE.merge(credit_card_balance_FE, how='left', on='SK_ID_CURR')

In [5]:
df_train_FE

,Unnamed: 0,Unnamed: 0.1,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,0,0,100002,1,0,0,0,-9461,-637,-3648.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,100003,0,1,0,1,-16765,-1188,-1186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,100004,0,0,1,0,-19046,-225,-4260.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,100006,0,1,0,0,-19005,-3039,-9833.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
4,4,4,100007,0,0,0,0,-19932,-3038,-4311.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,252132,307504,456248,0,1,0,0,-16705,-7258,-9798.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0
252129,252133,307506,456251,0,0,0,1,-9327,-236,-8456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252130,252134,307508,456253,0,1,0,0,-14966,-7921,-6737.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252131,252135,307509,456254,1,1,0,0,-11961,-4786,-2562.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252132,252136,307510,456255,0,1,0,1,-16856,-1262,-5128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_train_FE = df_train_FE.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

### fichiers csv avec FE

In [7]:
df_train_FE.to_csv('C:/Users/kalin/df_train_FE.csv')
#df_test_FE.to_csv('C:/Users/kalin/df_test_FE.csv')

# Merge des tables sans FE

In [ ]:
application_train = pd.DataFrame(pd.read_csv('C:/Users/kalin/application_train_prepared.csv'))
application_test = pd.DataFrame(pd.read_csv('C:/Users/kalin/application_test_prepared.csv'))
bureau_and_balances = pd.DataFrame(pd.read_csv('C:/Users/kalin/bureau_balance_prepared.csv'))
previous_applications = pd.DataFrame(pd.read_csv('C:/Users/kalin/previous_application_prepared.csv'))
pos_cash = pd.DataFrame(pd.read_csv('C:/Users/kalin/POS_CASH_balance.csv'))
installments_payments = pd.DataFrame(pd.read_csv('C:/Users/kalin/installments_payments.csv'))
credit_card_balance = pd.DataFrame(pd.read_csv('C:/Users/kalin/credit_card_balance_prepared.csv'))

In [ ]:


# Application_train sans FE
df_train = application_train.merge(bureau_and_balances, how='left', on='SK_ID_CURR')
df_train = df_train.merge(previous_applications, how='left', on='SK_ID_CURR')
df_train = df_train.merge(pos_cash, how='left', on='SK_ID_CURR')
df_train = df_train.merge(installments_payments, how='left', on='SK_ID_CURR')
df_train = df_train.merge(credit_card_balance, how='left', on='SK_ID_CURR')


df_train.to_csv('C:/Users/kalin/final_data_credit_train.csv')

# Application_test
df_test = application_test.merge(bureau_and_balances, how='left', on='SK_ID_CURR')
df_test = df_test.merge(previous_applications, how='left', on='SK_ID_CURR')
df_test = df_test.merge(pos_cash, how='left', on='SK_ID_CURR')
df_test = df_test.merge(installments_payments, how='left', on='SK_ID_CURR')
df_test = df_test.merge(credit_card_balance, how='left', on='SK_ID_CURR')

In [ ]:
df_train

In [ ]:
df_test

In [ ]:
# Application_test
df_test = application_test.merge(bureau_and_balances, how='left', on='SK_ID_CURR')
df_test = df_test.merge(previous_applications, how='left', on='SK_ID_CURR')
df_test = df_test.merge(pos_cash, how='left', on='SK_ID_CURR')
df_test = df_test.merge(installments_payments, how='left', on='SK_ID_CURR')
df_test = df_test.merge(credit_card_balance, how='left', on='SK_ID_CURR')
df_test

In [ ]:
df_test = df_test.drop('Unnamed: 0', axis=1)
df_test = df_test.drop('Unnamed: 0.1', axis=1)
df_test

In [ ]:
df_test.to_csv('C:/Users/kalin/final_data_credit_test.csv')

# Matrice de corrélation

In [ ]:
df_train = pd.DataFrame(pd.read_csv('C:/Users/kalin/final_data_credit_train.csv'))

In [ ]:
corr_df = df_train.corr(method='pearson')
plt.matshow(corr_df)
plt.show()

In [ ]:
sns.heatmap(corr_df, vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
df_train[df_train.isna()].sum().sum()

In [ ]:
corr_df[corr_df.isna()].sum().sum()

In [ ]:
sns.heatmap(df_train.iloc[:,0:300].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,0:30].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
df_train.iloc[:,0:30].columns

In [ ]:
corr1=df_train[['Unnamed: 0', 'Unnamed: 0.1', 'SK_ID_CURR', 'TARGET', 'CODE_GENDER']]

In [ ]:
sns.heatmap(corr1.corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
#supression de variables 
df_train = df_train.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [ ]:
sns.heatmap(df_train.iloc[:,0:30].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
corr2 = df_train[['FLAG_EMAIL', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION']]

In [ ]:
sns.heatmap(corr2.corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

### Suprresion de variables

On garde 'REGION_RATING_CLIENT_W_CITY'

In [ ]:
#association avec target

In [ ]:
cont = df_train[['REGION_RATING_CLIENT_W_CITY', 'TARGET']].pivot_table(index='REGION_RATING_CLIENT_W_CITY', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
cont = df_train[['REGION_RATING_CLIENT', 'TARGET']].pivot_table(index='REGION_RATING_CLIENT', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
#supression de variables 
df_train = df_train.drop(columns=['REGION_RATING_CLIENT'])

In [ ]:
corr3= df_train [['REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', ,
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'DAYS_LAST_PHONE_CHANGE']]

In [ ]:
sns.heatmap(corr3.corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

### Supression de variables

On supprime 'LIVE_REGION_NOT_WORK_REGION' 'LIVE_CITY_NOT_WORK_CITY'

In [ ]:
#association avec TARGET
cont = df_train[['LIVE_REGION_NOT_WORK_REGION', 'TARGET']].pivot_table(index='LIVE_REGION_NOT_WORK_REGION', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
cont = df_train[['REG_CITY_NOT_LIVE_CITY', 'TARGET']].pivot_table(index='REG_CITY_NOT_LIVE_CITY', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
cont = df_train[['LIVE_CITY_NOT_WORK_CITY', 'TARGET']].pivot_table(index='LIVE_CITY_NOT_WORK_CITY', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
cont = df_train[['REG_CITY_NOT_WORK_CITY', 'TARGET']].pivot_table(index='REG_CITY_NOT_WORK_CITY', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
#supression de variables 
df_train = df_train.drop(columns=['LIVE_REGION_NOT_WORK_REGION', 'LIVE_CITY_NOT_WORK_CITY'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,300:310].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

### Suppression de variables

In [ ]:
On suprimme PREV_AMT_CREDIT_MIN  PREV_AMT_CREDIT_MAX PREV_AMT_CREDIT_MEAN

In [ ]:
#association avec target 
sample = df_train[['TARGET','PREV_AMT_CREDIT_MIN']]
model = ols('PREV_AMT_CREDIT_MIN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
sample = df_train[['TARGET','PREV_AMT_APPLICATION_MIN']]
model = ols('PREV_AMT_APPLICATION_MIN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
#association avec target 
sample = df_train[['TARGET','PREV_AMT_CREDIT_MAX']]
model = ols('PREV_AMT_CREDIT_MAX ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
sample = df_train[['TARGET','PREV_AMT_APPLICATION_MAX']]
model = ols('PREV_AMT_APPLICATION_MAX ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
#association avec target 
sample = df_train[['TARGET','PREV_AMT_CREDIT_MEAN']]
model = ols('PREV_AMT_CREDIT_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
sample = df_train[['TARGET','PREV_AMT_APPLICATION_MEAN']]
model = ols('PREV_AMT_APPLICATION_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop (columns= ['PREV_AMT_CREDIT_MIN',  'PREV_AMT_CREDIT_MAX', 'PREV_AMT_CREDIT_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,310:320].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
#Approximately at what hour did the client apply for the loan
PREV_HOUR_APPR_PROCESS_START_MEAN
PREV_HOUR_APPR_PROCESS_START_MIN

In [ ]:
sample = df_train[['TARGET','PREV_HOUR_APPR_PROCESS_START_MEAN']]
model = ols('PREV_HOUR_APPR_PROCESS_START_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
sample = df_train[['TARGET','PREV_HOUR_APPR_PROCESS_START_MIN']]
model = ols('PREV_HOUR_APPR_PROCESS_START_MIN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop (columns= ['PREV_HOUR_APPR_PROCESS_START_MIN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,320:350].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,320:330].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
PREV_NAME_CONTRACT_TYPE_Consumerloans_MEAN
PREV_NAME_CONTRACT_TYPE_Cashloans_MEAN

In [ ]:
sample = df_train[['TARGET','PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN']]
sample= sample.rename(columns={'PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN': 'PREV_NAME_CONTRACT_TYPE_Consumerloans_MEAN'})
sample

In [ ]:
model = ols('PREV_NAME_CONTRACT_TYPE_Consumerloans_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
sample = df_train[['TARGET','PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN']]
sample= sample.rename(columns={'PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN': 'PREV_NAME_CONTRACT_TYPE_Cashloans_MEAN'})
sample

In [ ]:
model = ols('PREV_NAME_CONTRACT_TYPE_Cashloans_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop (columns= ['PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,330:340].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN
PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN

In [ ]:
sample = df_train[['TARGET','PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN','PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN']]
sample

In [ ]:
#association avec TARGET
cont = df_train[['PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN', 'TARGET']].pivot_table(index='PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
cont = df_train[['PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN', 'TARGET']].pivot_table(index='PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN', columns='TARGET', aggfunc=len).fillna(0).copy().astype(int)
st_chi2, st_p, st_dof, st_exp = sp.stats.chi2_contingency(cont)
st_p

In [ ]:
# suppression des variables 

df_train= df_train.drop (columns= ['PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,340:350].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,350:400].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,350:360].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sample = df_train[['TARGET', 'PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN','PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN' ]]
sample

In [ ]:
model = ols('PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop (columns= ['PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,360:380].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
PREV_NAME_PAYMENT_TYPE_XNA_MEAN
PREV_NAME_PAYMENT_TYPE_Cash throught the bank_MEAN

In [ ]:
sample = df_train[['TARGET','PREV_NAME_PAYMENT_TYPE_XNA_MEAN', 'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN' ]]
sample= sample.rename(columns={'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN': 'PREV_NAME_PAYMENT_TYPE_Cash_through_the_bank_MEAN'})
sample

In [ ]:
model = ols('PREV_NAME_PAYMENT_TYPE_XNA_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('PREV_NAME_PAYMENT_TYPE_Cash_through_the_bank_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,380:400].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
#Was the client old or new client when applying for the previous application
PREV_NAME_CLIENT_TYPE_Repeater_MEAN
PREV_NAME_CLIENT_TYPE_New_MEAN

In [ ]:
sample = df_train[['TARGET','PREV_NAME_CLIENT_TYPE_Repeater_MEAN', 'PREV_NAME_CLIENT_TYPE_New_MEAN' ]]
sample

In [ ]:
model = ols('PREV_NAME_CLIENT_TYPE_Repeater_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('PREV_NAME_CLIENT_TYPE_New_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['PREV_NAME_CLIENT_TYPE_Repeater_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,400:420].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,420:440].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sample = df_train[['TARGET','PREV_NAME_PRODUCT_TYPE_XNA_MEAN', 'PREV_NAME_PORTFOLIO_Cash_MEAN' ]]
sample

In [ ]:
PREV_NAME_PRODUCT_TYPE_XNA_MEAN
PREV_NAME_PORTFOLIO_Cash_MEAN

In [ ]:
model = ols('PREV_NAME_PRODUCT_TYPE_XNA_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('PREV_NAME_PORTFOLIO_Cash_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['PREV_NAME_PORTFOLIO_Cash_MEAN'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,440:460].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,460:480].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sample = df_train[['TARGET','APPROVED_AMT_APPLICATION_MAX', 'APPROVED_AMT_ANNUITY_MAX' ]]
sample

In [ ]:
model = ols('APPROVED_AMT_APPLICATION_MAX ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('APPROVED_AMT_ANNUITY_MAX ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['APPROVED_AMT_APPLICATION_MAX'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,480:500].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,480:490].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sample = df_train[['TARGET','APPROVED_AMT_CREDIT_MEAN', 'APPROVED_AMT_CREDIT_MIN','APPROVED_AMT_CREDIT_MAX']]
sample

In [ ]:
model = ols('APPROVED_AMT_CREDIT_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('APPROVED_AMT_CREDIT_MIN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('APPROVED_AMT_CREDIT_MAX ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['APPROVED_AMT_CREDIT_MIN'])
df_train

In [ ]:
APPROVED_APP_CREDIT_PERC_VAR
APPROVED_APP_CREDIT_PERC_MIN

In [ ]:
sample = df_train[['TARGET','APPROVED_APP_CREDIT_PERC_VAR', 'APPROVED_APP_CREDIT_PERC_MIN']]
sample

In [ ]:
model = ols('APPROVED_APP_CREDIT_PERC_VAR ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('APPROVED_APP_CREDIT_PERC_MIN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['APPROVED_APP_CREDIT_PERC_VAR'])
df_train

In [ ]:
sample = df_train[['TARGET','APPROVED_AMT_GOODS_PRICE_MEAN', 'APPROVED_AMT_CREDIT_MAX']]
sample

In [ ]:
model = ols('APPROVED_AMT_GOODS_PRICE_MEAN ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
model = ols('APPROVED_AMT_CREDIT_MAX ~ TARGET', data=sample).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

In [ ]:
# suppression des variables 

df_train= df_train.drop(columns= ['APPROVED_AMT_CREDIT_MAX'])
df_train

In [ ]:
sns.heatmap(df_train.iloc[:,490:500].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,500:550].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,550:600].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,600:650].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
sns.heatmap(df_train.iloc[:,650:700].corr(), vmin = -1, vmax = +1,  cmap = 'coolwarm')

In [ ]:
# Create correlation matrix
corr_matrix = df_train.corr().abs()

In [ ]:
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [ ]:
# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.90)]
to_drop

In [ ]:
df_train = df_train.drop(columns=['AMT_GOODS_PRICE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'FLOORSMAX_MODE',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'FLOORSMAX_MEDI',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'NAME_CONTRACT_TYPE_Revolving loans',
 'EMERGENCYSTATE_MODE_No',
 'DAYS_EMPLOYED_PERC',
 'INCOME_PER_PERSON',
 'BURO_AMT_CREDIT_SUM_DEBT_SUM',
 'BURO_MONTHS_BALANCE_MIN_MIN',
 'BURO_CREDIT_ACTIVE_Closed_MEAN',
 'BURO_CREDIT_CURRENCY_currency 2_MEAN',
 'ACTIVE_CREDIT_DAY_OVERDUE_MAX',
 'ACTIVE_AMT_CREDIT_SUM_DEBT_MAX',
 'ACTIVE_AMT_CREDIT_SUM_DEBT_SUM',
 'ACTIVE_AMT_CREDIT_SUM_LIMIT_SUM',
 'ACTIVE_MONTHS_BALANCE_MIN_MIN',
 'CLOSED_DAYS_CREDIT_MIN',
 'CLOSED_AMT_CREDIT_SUM_SUM',
 'CLOSED_AMT_CREDIT_SUM_DEBT_SUM',
 'CLOSED_MONTHS_BALANCE_MIN_MIN',
 'CLOSED_MONTHS_BALANCE_SIZE_MEAN',
 'CLOSED_MONTHS_BALANCE_SIZE_SUM',
 'PREV_APP_CREDIT_PERC_VAR',
 'PREV_FLAG_LAST_APPL_PER_CONTRACT_Y_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN',
 'PREV_CODE_REJECT_REASON_CLIENT_MEAN',
 'PREV_CODE_REJECT_REASON_XAP_MEAN',
 'PREV_NAME_GOODS_CATEGORY_XNA_MEAN',
 'PREV_NAME_PORTFOLIO_POS_MEAN',
 'PREV_CHANNEL_TYPE_Car dealer_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_XNA_MEAN',
 'PREV_NAME_YIELD_GROUP_XNA_MEAN',
 'PREV_PRODUCT_COMBINATION_Card Street_MEAN',
 'PREV_PRODUCT_COMBINATION_Missing_MEAN',
 'APPROVED_AMT_CREDIT_MEAN',
 'APPROVED_APP_CREDIT_PERC_MAX',
 'APPROVED_AMT_GOODS_PRICE_MAX',
 'APPROVED_AMT_GOODS_PRICE_MEAN',
 'APPROVED_HOUR_APPR_PROCESS_START_MAX',
 'APPROVED_HOUR_APPR_PROCESS_START_MEAN',
 'APPROVED_DAYS_DECISION_MIN',
 'REFUSED_AMT_ANNUITY_MEAN',
 'REFUSED_APP_CREDIT_PERC_MIN',
 'REFUSED_APP_CREDIT_PERC_MEAN',
 'REFUSED_AMT_GOODS_PRICE_MEAN',
 'REFUSED_HOUR_APPR_PROCESS_START_MEAN',
 'REFUSED_DAYS_DECISION_MEAN',
 'POS_COUNT',
 'INSTAL_PAYMENT_PERC_SUM',
 'INSTAL_AMT_PAYMENT_MAX',
 'INSTAL_AMT_PAYMENT_MEAN',
 'INSTAL_AMT_PAYMENT_SUM',
 'INSTAL_DAYS_ENTRY_PAYMENT_MEAN',
 'INSTAL_COUNT',
 'CC_AMT_DRAWINGS_CURRENT_MAX',
 'CC_AMT_DRAWINGS_OTHER_CURRENT_VAR',
 'CC_AMT_INST_MIN_REGULARITY_MAX',
 'CC_AMT_INST_MIN_REGULARITY_MEAN',
 'CC_AMT_INST_MIN_REGULARITY_SUM',
 'CC_AMT_PAYMENT_CURRENT_SUM',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_MAX',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_SUM',
 'CC_AMT_RECEIVABLE_PRINCIPAL_MIN',
 'CC_AMT_RECEIVABLE_PRINCIPAL_MAX',
 'CC_AMT_RECEIVABLE_PRINCIPAL_MEAN',
 'CC_AMT_RECEIVABLE_PRINCIPAL_SUM',
 'CC_AMT_RECEIVABLE_PRINCIPAL_VAR',
 'CC_AMT_RECIVABLE_MIN',
 'CC_AMT_RECIVABLE_MAX',
 'CC_AMT_RECIVABLE_MEAN',
 'CC_AMT_RECIVABLE_SUM',
 'CC_AMT_RECIVABLE_VAR',
 'CC_AMT_TOTAL_RECEIVABLE_MIN',
 'CC_AMT_TOTAL_RECEIVABLE_MAX',
 'CC_AMT_TOTAL_RECEIVABLE_MEAN',
 'CC_AMT_TOTAL_RECEIVABLE_SUM',
 'CC_AMT_TOTAL_RECEIVABLE_VAR',
 'CC_CNT_DRAWINGS_ATM_CURRENT_MIN',
 'CC_CNT_DRAWINGS_ATM_CURRENT_MAX',
 'CC_CNT_DRAWINGS_ATM_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_ATM_CURRENT_SUM',
 'CC_CNT_DRAWINGS_CURRENT_MIN',
 'CC_CNT_DRAWINGS_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_CURRENT_SUM',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_MIN',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_MAX',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_SUM',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_VAR',
 'CC_CNT_DRAWINGS_POS_CURRENT_MIN',
 'CC_CNT_DRAWINGS_POS_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_POS_CURRENT_SUM',
 'CC_CNT_DRAWINGS_POS_CURRENT_VAR',
 'CC_CNT_INSTALMENT_MATURE_CUM_MEAN',
 'CC_CNT_INSTALMENT_MATURE_CUM_SUM',
 'CC_SK_DPD_SUM',
 'CC_SK_DPD_VAR',
 'CC_SK_DPD_DEF_SUM',
 'CC_NAME_CONTRACT_STATUS_Active_SUM',
 'CC_NAME_CONTRACT_STATUS_Approved_MEAN',
 'CC_NAME_CONTRACT_STATUS_Approved_SUM',
 'CC_NAME_CONTRACT_STATUS_Approved_VAR',
 'CC_NAME_CONTRACT_STATUS_Completed_MEAN',
 'CC_NAME_CONTRACT_STATUS_Completed_VAR',
 'CC_NAME_CONTRACT_STATUS_Demand_MEAN',
 'CC_NAME_CONTRACT_STATUS_Demand_SUM',
 'CC_NAME_CONTRACT_STATUS_Demand_VAR',
 'CC_NAME_CONTRACT_STATUS_Refused_MEAN',
 'CC_NAME_CONTRACT_STATUS_Refused_SUM',
 'CC_NAME_CONTRACT_STATUS_Refused_VAR',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_MEAN',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_SUM',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_VAR',
 'CC_COUNT'])
df_train

In [ ]:
df_train.to_csv('C:/Users/kalin/final_no_corr.csv')